{"openapi":"3.0.0","info":{"title":"Web API v2 - Public ","description":"Documentation of the public web API.","version":"1.0.0"},"servers":[{"url":"https://eu1.make.com/api/v2","description":"EU1 production zone"},{"url":"https://eu2.make.com/api/v2","description":"EU2 production zone"},{"url":"https://us1.make.com/api/v2","description":"US1 production zone"},{"url":"https://us2.make.com/api/v2","description":"US2 production zone"},{"url":"https://eu1.make.celonis.com/api/v2","description":"Celonis EU1 production zone"},{"url":"https://us1.make.celonis.com/api/v2","description":"Celonis US1 production zone"}],"components":{"securitySchemes":{"token":{"type":"apiKey","name":"Authorization","in":"header","x-gitbook-prefix":"Token","x-gitbook-token-placeholder":"your-api-token","description":"Authorize the API call with your API token in the `Authorization` header with the value: `Token your-api-token`.\n\nIf you don't have an API token yet, please refer to the [\"Authentication\" section](/api-documentation/authentication) to learn how to create one.\n"}},"schemas":{"Team":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"organizationId":{"type":"integer"},"operationsLimit":{"type":"integer"},"transferLimit":{"type":"bigint"},"type":{"type":"string","enum":["standard","personal"],"description":"Distinguishes a standard team from a private space (`personal`). Only returned when requested via\n`cols[]=type`. Private spaces are included in the list only when `includePrivateSpaces=true`.\n"}}},"Team--Admin":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"organizationId":{"type":"integer"},"scenarioDrafts":{"type":"boolean","deprecated":true,"description":"This property is deprecated. It is only supported on private instances and ignored on Make's public cloud.\n"},"deleted":{"type":"boolean"},"externalId":{"type":"string"},"type":{"type":"string","enum":["standard","personal"],"description":"Distinguishes a standard team from a private space (`personal`). Only returned when requested via\n`cols[]=type`. Private spaces are included in the list only when `includePrivateSpaces=true`.\n"}}},"User":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"email":{"type":"string","format":"email"},"language":{"type":"string"},"timezoneId":{"type":"integer"},"localeId":{"type":"integer"},"countryId":{"type":"integer"},"features":{"type":"object","properties":{"allow_apps":{"type":"boolean"}}},"avatar":{"type":"string","format":"uri"},"lastLogin":{"type":"string","format":"date-time"},"tfaStatus":{"type":"integer","nullable":true,"enum":[0,1,2],"description":"Two-factor authentication status:\n- 0: No TFA set\n- 1: TFA active (authenticator app)\n- 2: External authentication (Social SSO)\n\nIt is only supported on Make's public cloud instances.\n"},"supportEligible":{"type":"boolean","description":"Whether the user is eligible for contact support. False if all user's organizations are on Free plan and account is older than 90 days."},"userTeamIds":{"type":"array","nullable":true,"description":"IDs of teams the user belongs to within the organization. Only returned when explicitly requested via cols[]=userTeamIds and organizationId is provided.","items":{"type":"integer"}},"privateSpace":{"nullable":true,"description":"The user's personal private space in the organization. Only returned when explicitly requested via cols[]=privateSpace with organizationId on a public instance.","type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"globalAgentsEnabled":{"type":"boolean"},"type":{"type":"string","enum":["personal"]},"operationsLimit":{"type":"integer","nullable":true},"transferLimit":{"type":"bigint","nullable":true},"consumedOperations":{"type":"integer","nullable":true},"consumedTransfer":{"type":"bigint","nullable":true},"isPaused":{"type":"boolean","nullable":true},"consumedCenticredits":{"type":"integer","nullable":true}}}}},"UserPublic":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"email":{"type":"string","format":"email"},"language":{"type":"string"},"timezoneId":{"type":"integer"},"localeId":{"type":"integer"},"countryId":{"type":"integer"},"features":{"type":"object","properties":{"allow_apps":{"type":"boolean"}}},"avatar":{"type":"string","format":"uri"},"lastLogin":{"type":"string","format":"date-time"},"tfaStatus":{"type":"integer","nullable":true,"enum":[0,1,2],"description":"Two-factor authentication status:\n- 0: No TFA set\n- 1: TFA active (authenticator app)\n- 2: External authentication (Social SSO)\n\nIt is only supported on Make's public cloud instances.\n"},"supportEligible":{"type":"boolean","description":"Whether the user is eligible for contact support. False if all user's organizations are on Free plan and account is older than 90 days."},"userTeamIds":{"type":"array","nullable":true,"description":"IDs of teams the user belongs to within the organization. Only returned when explicitly requested via cols[]=userTeamIds and organizationId is provided.","items":{"type":"integer"}},"privateSpace":{"nullable":true,"description":"The user's personal private space in the organization. Only returned when explicitly requested via cols[]=privateSpace with organizationId on a public instance.","type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"globalAgentsEnabled":{"type":"boolean"},"type":{"type":"string","enum":["personal"]},"operationsLimit":{"type":"integer","nullable":true},"transferLimit":{"type":"bigint","nullable":true},"consumedOperations":{"type":"integer","nullable":true},"consumedTransfer":{"type":"bigint","nullable":true},"isPaused":{"type":"boolean","nullable":true},"consumedCenticredits":{"type":"integer","nullable":true}}}}},"UserUpdate":{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string","format":"email"},"language":{"type":"string"},"timezoneId":{"type":"integer"},"localeId":{"type":"integer"},"countryId":{"type":"integer"},"usersAdminsRoleId":{"type":"integer"}}},"UserRole":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"identifier":{"type":"string"},"subsidiary":{"type":"boolean"},"category":{"type":"string"},"permissions":{"type":"array","items":{"type":"string"}},"managementType":{"type":"string","enum":["system_locked","admin_managed","custom_managed"],"description":"Indicates how the role is managed.","example":"system_locked"},"description":{"type":"string","nullable":true}}},"UserTeamRole":{"type":"object","properties":{"usersRoleId":{"type":"integer"},"userId":{"type":"integer"},"teamId":{"type":"integer"},"changeable":{"type":"boolean"},"ssoPending":{"type":"boolean"}}},"Pg":{"type":"object","properties":{"last":{"type":"string"},"showLast":{"type":"boolean"},"sortBy":{"type":"string"},"sortDir":{"type":"string"},"limit":{"type":"integer"},"offset":{"type":"integer"}}},"UserOrganizationInvitations":{"type":"object","properties":{"hash":{"type":"string"},"invitation":{"type":"string"},"usersRoleId":{"type":"integer"},"organizationId":{"type":"integer"},"organizationName":{"type":"string"},"zone":{"type":"string"}}},"UserOrganizationRole":{"type":"object","properties":{"userId":{"type":"integer"},"organizationId":{"type":"integer"},"usersRoleId":{"type":"integer"},"invitation":{"type":"string"}}},"UserOrganizationRoleAll":{"allOf":[{"type":"object","properties":{"userId":{"type":"integer"},"organizationId":{"type":"integer"},"usersRoleId":{"type":"integer"},"invitation":{"type":"string"}}},{"type":"object","properties":{"organizationTeamsCount":{"type":"integer"},"joinedTeamsCount":{"type":"integer"}}}]},"UserTeamNotification":{"type":"object","properties":{"userId":{"type":"integer"},"teamId":{"type":"integer"},"notificationId":{"type":"integer"},"enabled":{"type":"boolean"}}},"ApiToken":{"type":"object","properties":{"token":{"type":"string"},"scope":{"type":"array","items":{"type":"string","format":"uri"}},"created":{"type":"string","format":"date-time"},"label":{"type":"string"}}},"EmailPreferences":{"type":"object","properties":{"id":{"type":"integer"},"uuid":{"type":"string"},"email":{"type":"string","format":"email"},"is_email_verified":{"type":"boolean"},"global":{"type":"object","properties":{"isEmailVerified":{"type":"boolean"},"preferences":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"enabled":{"type":"boolean"},"label":{"type":"string"},"description":{"type":"string"}}}}}},"zones":{"type":"array","items":{}}}},"DataStructureWhole":{"type":"object","properties":{"id":{"type":"integer"},"teamId":{"type":"integer"},"name":{"type":"string","minLength":1,"maxLength":128},"strict":{"type":"boolean"},"spec":{"type":"array","items":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["boolean"]},"name":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"default":{"type":"boolean"}},"required":["name","type"]},{"type":"object","properties":{"type":{"type":"string","enum":["text"]},"name":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"default":{"type":"string"},"multiline":{"type":"boolean"}},"required":["name","type"]},{"type":"object","properties":{"type":{"type":"string","enum":["number"]},"name":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"default":{"type":"number"}},"required":["name","type"]},{"type":"object","properties":{"type":{"type":"string","enum":["date"]},"name":{"type":"string"},"label":{"type":"string"}},"required":["name","type"]},{"type":"object","properties":{"type":{"type":"string","enum":["buffer"]},"name":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"codepage":{"type":"string","enum":["binary","utf8"]}},"required":["name","type"]},{"type":"object","properties":{"type":{"type":"string","enum":["collection"]},"name":{"type":"string"},"label":{"type":"string"},"spec":{"type":"array","items":{"type":"object"}},"sequence":{"type":"boolean"}},"required":["name","type"]},{"type":"object","properties":{"type":{"type":"string","enum":["array"]},"name":{"type":"string"},"label":{"type":"string"},"spec":{"type":"object"},"sequence":{"type":"boolean"}},"required":["name","type"]}]}}},"required":["id","teamId","name","strict","spec"]},"DataStructureCreate":{"type":"object","properties":{"teamId":{"type":"integer","description":"The unique ID of the team in which the data structure will be created."},"name":{"type":"string","description":"The name of the data structure. The maximum length of the name is 128 characters.","minLength":1,"maxLength":128},"strict":{"type":"boolean","description":"Set to `true` to enforce strict validation of the data put in the data structure. With the strict validation enabled, the data structure won't store data that don't fit into the structure and the storing module will return an error.\n\nThe default value of this parameter is `false`. With the default setting, the modules using the data structure will process data that don't conform to the data structure.\n","example":true},"spec":{"type":"array","description":"Sets the data structure specification.","items":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["boolean"]},"name":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"default":{"type":"boolean"}},"required":["name","type"]},{"type":"object","properties":{"type":{"type":"string","enum":["text"]},"name":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"default":{"type":"string"},"multiline":{"type":"boolean"}},"required":["name","type"]},{"type":"object","properties":{"type":{"type":"string","enum":["number"]},"name":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"default":{"type":"number"}},"required":["name","type"]},{"type":"object","properties":{"type":{"type":"string","enum":["date"]},"name":{"type":"string"},"label":{"type":"string"}},"required":["name","type"]},{"type":"object","properties":{"type":{"type":"string","enum":["buffer"]},"name":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"codepage":{"type":"string","enum":["binary","utf8"]}},"required":["name","type"]},{"type":"object","properties":{"type":{"type":"string","enum":["collection"]},"name":{"type":"string"},"label":{"type":"string"},"spec":{"type":"array","items":{"type":"object"}},"sequence":{"type":"boolean"}},"required":["name","type"]},{"type":"object","properties":{"type":{"type":"string","enum":["array"]},"name":{"type":"string"},"label":{"type":"string"},"spec":{"type":"object"},"sequence":{"type":"boolean"}},"required":["name","type"]}]}}},"required":["teamId","name","strict","spec"]},"DataStructurePatch":{"type":"object","properties":{"name":{"type":"string","description":"The name of the data structure. The maximum length of the name is 128 characters.","minLength":1,"maxLength":128},"strict":{"type":"boolean","description":"Set to `true` to enforce strict validation of the data put in the data structure. With the strict validation enabled, the data structure won't store data that don't fit into the structure and the storing module will return an error.\n\nThe default value of this parameter is `false`. With the default setting, the modules using the data structure will process data that don't conform to the data structure.\n","example":false},"spec":{"type":"array","description":"Sets the data structure specification.\n \nNote that when you update the data structure specification with the `spec` parameter, you have to provide all structure fields you want to use. Make replaces the old structure specification with the new one.\"\n","items":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["boolean"]},"name":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"default":{"type":"boolean"}},"required":["name","type"]},{"type":"object","properties":{"type":{"type":"string","enum":["text"]},"name":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"default":{"type":"string"},"multiline":{"type":"boolean"}},"required":["name","type"]},{"type":"object","properties":{"type":{"type":"string","enum":["number"]},"name":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"default":{"type":"number"}},"required":["name","type"]},{"type":"object","properties":{"type":{"type":"string","enum":["date"]},"name":{"type":"string"},"label":{"type":"string"}},"required":["name","type"]},{"type":"object","properties":{"type":{"type":"string","enum":["buffer"]},"name":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"codepage":{"type":"string","enum":["binary","utf8"]}},"required":["name","type"]},{"type":"object","properties":{"type":{"type":"string","enum":["collection"]},"name":{"type":"string"},"label":{"type":"string"},"spec":{"type":"array","items":{"type":"object"}},"sequence":{"type":"boolean"}},"required":["name","type"]},{"type":"object","properties":{"type":{"type":"string","enum":["array"]},"name":{"type":"string"},"label":{"type":"string"},"spec":{"type":"object"},"sequence":{"type":"boolean"}},"required":["name","type"]}]}}}},"DataStructureSpec":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["boolean"]},"name":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"default":{"type":"boolean"}},"required":["name","type"]},{"type":"object","properties":{"type":{"type":"string","enum":["text"]},"name":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"default":{"type":"string"},"multiline":{"type":"boolean"}},"required":["name","type"]},{"type":"object","properties":{"type":{"type":"string","enum":["number"]},"name":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"default":{"type":"number"}},"required":["name","type"]},{"type":"object","properties":{"type":{"type":"string","enum":["date"]},"name":{"type":"string"},"label":{"type":"string"}},"required":["name","type"]},{"type":"object","properties":{"type":{"type":"string","enum":["buffer"]},"name":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"codepage":{"type":"string","enum":["binary","utf8"]}},"required":["name","type"]},{"type":"object","properties":{"type":{"type":"string","enum":["collection"]},"name":{"type":"string"},"label":{"type":"string"},"spec":{"type":"array","items":{"type":"object"}},"sequence":{"type":"boolean"}},"required":["name","type"]},{"type":"object","properties":{"type":{"type":"string","enum":["array"]},"name":{"type":"string"},"label":{"type":"string"},"spec":{"type":"object"},"sequence":{"type":"boolean"}},"required":["name","type"]}]},"Device":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"teamId":{"type":"integer"},"udid":{"type":"string"},"scope":{"type":"array","items":{"type":"string"}},"info":{"type":"object"},"queueCount":{"type":"integer"},"queueLimit":{"type":"integer"},"scenarioId":{"type":"integer"}}},"DeviceEnrichment":{"type":"object","description":"Simplified device information for enrichment purposes","properties":{"id":{"type":"integer","description":"Unique device identifier","example":123,"minimum":1},"udid":{"type":"string","description":"Universal Device Identifier (32-character hexadecimal string)","example":"a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6","pattern":"^[a-f0-9]{32}$","minLength":32,"maxLength":32},"teamId":{"type":"integer","description":"ID of the team/organization that owns this device","example":789,"minimum":1}},"required":["id","udid","teamId"],"additionalProperties":false},"DeviceEventIncoming":{"type":"object","properties":{"id":{"type":"string"},"scope":{"type":"string"},"size":{"type":"integer"},"created":{"type":"string","format":"date-time"}}},"DeviceEventOutgoing":{"type":"object","properties":{"id":{"type":"string"},"scope":{"type":"string"},"size":{"type":"integer"},"created":{"type":"string","format":"date-time"}}},"Dlq":{"type":"object","properties":{"id":{"type":"string"},"reason":{"type":"string"},"created":{"type":"string","format":"date-time"},"size":{"type":"integer"},"resolved":{"type":"boolean"},"retry":{"type":"boolean"},"attempts":{"type":"integer"}}},"DlqFull":{"type":"object","properties":{"id":{"type":"string"},"scenarioId":{"type":"integer"},"scenarioName":{"type":"string"},"companyId":{"type":"integer"},"companyName":{"type":"string"},"resolved":{"type":"boolean"},"deleted":{"type":"boolean"},"index":{"type":"integer"},"created":{"type":"string","format":"date-time"},"executionId":{"type":"string"},"retry":{"type":"boolean"},"attempts":{"type":"integer"},"size":{"type":"integer"}}},"DlqLog":{"type":"object","properties":{"imtId":{"type":"string"},"duration":{"type":"integer"},"transfer":{"type":"integer"},"operations":{"type":"integer"},"centicredits":{"type":"bigint"},"teamId":{"type":"integer"},"id":{"type":"string"},"type":{"type":"string"},"authorId":{"type":"string"},"timestamp":{"type":"string","format":"date-time"},"status":{"type":"integer"},"instant":{"type":"boolean"},"organizationId":{"type":"integer"}}},"Blueprint":{"type":"object","properties":{"flow":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"mapper":{"type":"object","properties":{"ca":{"type":"string"},"qs":{"type":"array","items":{}},"url":{"type":"string","format":"uri"},"gzip":{"type":"boolean"},"method":{"type":"string"},"headers":{"type":"array","items":{}},"timeout":{"type":"string"},"authPass":{"type":"string"},"authUser":{"type":"string"},"bodyType":{"type":"string"},"shareCookies":{"type":"boolean"},"parseResponse":{"type":"boolean"},"followRedirect":{"type":"boolean"},"useQuerystring":{"type":"boolean"},"rejectUnauthorized":{"type":"boolean"}}},"module":{"type":"string","format":"uri"},"onerror":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"mapper":{"type":"object","properties":{"count":{"type":"string","format":"utc-millisec"},"retry":{"type":"boolean"},"interval":{"type":"string","format":"utc-millisec"}}},"module":{"type":"string","format":"uri"},"version":{"type":"integer"},"metadata":{"type":"object","properties":{"expect":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"type":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"}}}},"restore":{"type":"object","properties":{"retry":{"type":"object","properties":{"mode":{"type":"string"}}}}},"designer":{"type":"object","properties":{"x":{"type":"integer"},"y":{"type":"integer"}}}}},"parameters":{"type":"object"}}}},"version":{"type":"integer"},"metadata":{"type":"object","properties":{"expect":{"type":"array","items":{"type":"object"}},"restore":{"type":"object","properties":{"qs":{"type":"object","properties":{"mode":{"type":"string"},"items":{"type":"array","items":{}}}},"method":{"type":"object","properties":{"mode":{"type":"string"},"label":{"type":"string"}}},"headers":{"type":"object","properties":{"mode":{"type":"string"},"items":{"type":"array","items":{}}}},"bodyType":{"type":"object","properties":{"label":{"type":"string"}}}}},"designer":{"type":"object","properties":{"x":{"type":"integer"},"y":{"type":"integer"}}},"parameters":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"type":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"}}}}}},"parameters":{"type":"object","properties":{"handleErrors":{"type":"boolean"}}}}}},"name":{"type":"string"},"metadata":{"type":"object","properties":{"version":{"type":"integer"},"scenario":{"type":"object","properties":{"maxErrors":{"type":"integer"},"autoCommit":{"type":"boolean"},"roundtrips":{"type":"integer"}}}}}}},"Hook":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"teamId":{"type":"integer"},"udid":{"type":"string"},"type":{"type":"string"},"packageName":{"type":"string"},"theme":{"type":"string","format":"color"},"flags":{"type":"object","properties":{"form":{"type":"boolean"}}},"editable":{"type":"boolean"},"queueCount":{"type":"integer"},"queueLimit":{"type":"integer"},"enabled":{"type":"boolean"},"gone":{"type":"boolean"},"typeName":{"type":"string"},"data":{"type":"object","additionalProperties":true,"properties":{"headers":{"type":"boolean"},"method":{"type":"boolean"},"stringify":{"type":"boolean"},"teamId":{"type":"integer"},"ip":{"type":"string","format":"ipv6"},"udt":{"type":"integer"}}},"scenarioId":{"type":"integer"},"url":{"type":"string","format":"uri"}}},"HookEventIncoming":{"type":"object","properties":{"id":{"type":"string"},"scope":{"type":"string"},"size":{"type":"integer"},"created":{"type":"string","format":"date-time"},"data":{"type":"object"}}},"Key":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"typeName":{"type":"string"},"teamId":{"type":"integer"},"packageName":{"type":"string"},"theme":{"type":"string","format":"color"}}},"KeyType":{"type":"object","properties":{"name":{"type":"string"},"label":{"type":"string"},"parameters":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"label":{"type":"string"},"type":{"type":"string"}}}},"componentType":{"type":"string"},"author":{"type":"string"},"version":{"type":"string"},"theme":{"type":"string","format":"color"},"icon":{"type":"string"}}},"Organization":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"serviceName":{"type":"string"},"nextReset":{"type":"string","format":"date-time"},"lastReset":{"type":"string","format":"date-time"},"isPaused":{"type":"boolean"},"countryId":{"type":"integer"},"timezoneId":{"type":"integer"},"deleted":{"type":"boolean"},"license":{"type":"object","additionalProperties":{}},"zone":{"type":"string"},"teams":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"}}}},"productName":{"type":"string"},"ssoType":{"type":"string","nullable":true,"description":"The SSO authentication type configured for the organization. Possible values: 'oauth2', 'saml2', 'none', or null if not configured."},"scenarios":{"type":"integer"},"activeScenarios":{"type":"integer"},"tfaEnforced":{"type":"boolean","description":"Whether TFA is enforced for the organization."},"featureControls":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"enabled":{"type":"boolean"}}}}}},"Notification":{"type":"object","properties":{"id":{"type":"string"},"subject":{"type":"string"},"read":{"type":"string","format":"date-time"},"created":{"type":"string","format":"date-time"},"type":{"type":"integer"}}},"NotificationAll":{"allOf":[{"type":"object","properties":{"id":{"type":"string"},"subject":{"type":"string"},"read":{"type":"string","format":"date-time"},"created":{"type":"string","format":"date-time"},"type":{"type":"integer"}}},{"type":"object","properties":{"body":{"type":"string"}}}]},"Connection":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"accountName":{"type":"string"},"accountLabel":{"type":"string"},"packageName":{"type":"string"},"expire":{"type":"string","format":"date-time"},"metadata":{"type":"object","properties":{"value":{"type":"string"},"type":{"type":"string","enum":["string","email"]}}},"teamId":{"type":"integer"},"theme":{"type":"string","format":"color"},"upgradeable":{"type":"boolean"},"scopesCnt":{"type":"integer"},"scoped":{"type":"boolean"},"accountType":{"type":"string"},"editable":{"type":"boolean"},"uid":{"type":"string"},"connectedSystemId":{"type":"string"},"organizationId":{"type":"integer"}}},"ConnectionAll":{"allOf":[{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"accountName":{"type":"string"},"accountLabel":{"type":"string"},"packageName":{"type":"string"},"expire":{"type":"string","format":"date-time"},"metadata":{"type":"object","properties":{"value":{"type":"string"},"type":{"type":"string","enum":["string","email"]}}},"teamId":{"type":"integer"},"theme":{"type":"string","format":"color"},"upgradeable":{"type":"boolean"},"scopesCnt":{"type":"integer"},"scoped":{"type":"boolean"},"accountType":{"type":"string"},"editable":{"type":"boolean"},"uid":{"type":"string"},"connectedSystemId":{"type":"string"},"organizationId":{"type":"integer"}}},{"type":"object","properties":{"scopes":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"account":{"type":"string"}}}}}}]},"Template":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"teamId":{"type":"integer"},"teamName":{"type":"string"},"organizationId":{"type":"string"},"description":{"type":"string"},"usedApps":{"type":"array","items":{"type":"string"}},"public":{"type":"boolean"},"published":{"type":"string","format":"date-time"},"approved":{"type":"string","format":"date-time"},"approvedId":{"type":"integer"},"requestedApproval":{"type":"boolean"},"publishedId":{"type":"integer"},"publicUrl":{"type":"string"},"approvedName":{"type":"string"},"publishedName":{"type":"string"}}},"TemplatePublic":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"description":{"type":"string"},"url":{"type":"string"},"usedApps":{"type":"array","items":{"type":"string"}},"usage":{"type":"integer"}}},"SdkApp":{"type":"object","properties":{"name":{"type":"string"},"label":{"type":"string"},"version":{"type":"integer"},"versionFull":{"type":"string"},"beta":{"type":"boolean"},"description":{"type":"string"},"theme":{"type":"string"},"public":{"type":"boolean"},"approved":{"type":"boolean"},"in_review":{"type":"boolean"},"modules":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"label":{"type":"string"},"description":{"type":"string"},"type":{"type":"integer"},"public":{"type":"boolean"}}}},"opensource":{"type":"boolean"},"changes":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"table":{"type":"string"},"name":{"type":"string"},"column":{"type":"string"}}}}}},"SdkAppDetail":{"type":"object","properties":{"name":{"type":"string"},"label":{"type":"string"},"description":{"type":"string"},"version":{"type":"integer"},"beta":{"type":"boolean"},"theme":{"type":"string","format":"color"},"language":{"type":"string"},"public":{"type":"boolean"},"approved":{"type":"boolean"},"global":{"type":"boolean"},"countries":{"type":"array","items":{}},"created":{"type":"string","format":"date-time"},"manifestVersion":{"type":"integer"}}},"SdkAppReview":{"type":"object","properties":{"contactName":{"type":"string"},"contactEmail":{"type":"string","format":"email"},"reviewerName":{"type":"string"},"reviewerEmail":{"type":"string","format":"email"},"codeStatus":{"type":"string"},"testStatus":{"type":"string"},"docsStatus":{"type":"string"}}},"SdkAppReviewForm":{"type":"object","properties":{"config":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"label":{"type":"string"},"type":{"type":"string"},"required":{"type":"boolean"},"spec":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"label":{"type":"string"},"type":{"type":"string"}}}}}}},"values":{"type":"object","properties":{"testingScenarios":{"type":"object"}}}}},"SdkEndpoint":{"type":"object","properties":{"name":{"type":"string","description":"Endpoint name. Unique within the app version, immutable after creation."},"label":{"type":"string"},"description":{"type":"string","nullable":true},"context":{"type":"string","nullable":true,"description":"Free-form context made available to AI agents calling the endpoint."},"annotations":{"type":"object","description":"MCP-inspired behavior hints. Only the known hints are persisted; unknown keys are stripped.","properties":{"readOnlyHint":{"type":"boolean"},"destructiveHint":{"type":"boolean"},"idempotentHint":{"type":"boolean"},"openWorldHint":{"type":"boolean"}}},"attachedAccounts":{"type":"array","items":{"type":"string"},"description":"Names of the connections attached to the endpoint."},"public":{"type":"boolean"},"approved":{"type":"boolean"},"deprecated":{"type":"boolean"},"archived":{"type":"boolean","description":"Zone-only flag; never synchronized to HQ."},"centicreditsFormula":{"type":"string","nullable":true},"centicreditsFormulaDescription":{"type":"string","nullable":true},"centicreditsFormulaDocumentationUrl":{"type":"string","nullable":true},"centicreditsFormulaMeta":{"type":"string","nullable":true},"schemaVersion":{"type":"integer"},"rev":{"type":"integer","description":"Revision number, used for Swarm sync."},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"Scheduling":{"type":"object","properties":{"type":{"type":"string","enum":["immediately","indefinitely","once","daily","weekly","monthly","yearly"]},"interval":{"type":"integer","minimum":0},"date":{"type":"string","format":"date-time"},"between":{"type":"array","items":{"type":"string","format":"date-time"}},"time":{"type":"string","pattern":"^[0-2]?[0-9]:[0-5]?[0-9](:[0-5]?[0-9])?(\\\\.[0-9]+)?$"},"days":{"type":"array","items":{"type":"integer","minimum":0,"maximum":31}},"months":{"type":"array","items":{"type":"integer","minimum":1,"maximum":12}},"restrict":{"type":"array","items":{"type":"object","properties":{"time":{"type":"array","items":{"type":"string","nullable":true,"pattern":"^[0-2]?[0-9]:[0-5]?[0-9](:[0-5]?[0-9])?(\\\\.[0-9]+)?$"}},"days":{"type":"array","items":{"type":"integer","minimum":0,"maximum":31}},"months":{"type":"array","items":{"type":"integer","minimum":1,"maximum":12}}}}},"maximum_runs_per_minute":{"type":"integer","nullable":true,"minimum":1,"maximum":10000}}},"Controller":{"type":"object","properties":{"name":{"type":"string","maxLength":120,"minLength":1},"description":{"type":"string","maxLength":1500,"minLength":0},"idSequence":{"type":"integer"},"modules":{"type":"object"}}},"HookLog":{"type":"object","properties":{"statusId":{"type":"integer"},"parser":{"type":"string"},"replayable":{"type":"boolean"},"sizes":{"type":"object","properties":{"before":{"type":"integer"},"after":{"type":"integer"}}},"loggedAt":{"type":"string","format":"date-time"},"udids":{"type":"array","items":{"type":"string"}},"typeId":{"type":"integer"},"id":{"type":"integer"},"appParser":{"type":"string"},"imtId":{"type":"string"}}},"HookLogDetail":{"type":"object","properties":{"statusId":{"type":"integer"},"parser":{"type":"string"},"replayable":{"type":"boolean"},"data":{"type":"object","properties":{"request":{"type":"object","properties":{"headers":{"type":"object","additionalProperties":{}},"method":{"type":"string"},"query":{"type":"object","additionalProperties":{}},"ip":{"type":"string"},"parsed":{"type":"string"},"body":{"oneOf":[{"type":"string"},{"type":"object","additionalProperties":{}}]},"url":{"type":"string"}}},"response":{"type":"object","properties":{"headers":{"type":"array","items":{"type":"string"}},"body":{"type":"string"},"status":{"type":"integer"}}}}},"sizes":{"type":"object","properties":{"before":{"type":"integer"},"after":{"type":"integer"}}},"loggedAt":{"type":"string","format":"date-time"},"udids":{"type":"array","items":{"type":"string"}},"typeId":{"type":"integer"},"id":{"type":"integer"},"appParser":{"type":"string"},"imtId":{"type":"string"}}},"ScenarioInterfaceInput":{"type":"object","additionalProperties":{},"description":"Contains the `input` array with specification of the scenario input parameters."},"ScenarioInterfaceOutput":{"type":"object","additionalProperties":{}},"Admin--Organizations":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"timezoneId":{"type":"number"},"countryId":{"type":"number"},"license":{"type":"object","additionalProperties":{}},"serviceName":{"type":"string"},"teams":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"externalId":{"type":"string"}}}},"isPaused":{"type":"boolean"},"zone":{"type":"string"},"externalId":{"type":"string"},"scenarios":{"type":"integer"},"activeScenarios":{"type":"integer"},"deleted":{"type":"boolean"}}},"CustomPropertyStructureItem-response":{"type":"object","properties":{"id":{"type":"integer"},"created":{"type":"string","format":"date-time"},"belongers":{"type":"array","items":{"type":"object","properties":{"belongerId":{"type":"integer"},"belongerType":{"type":"string"},"associatedTypes":{"type":"array","items":{"type":"string"}}}}}}},"CustomPropertyStructureItem-requestBody-post":{"type":"object","properties":{"name":{"description":"The ID of the structure item. The `name` has to be unique in the custom properties structure.","type":"string"},"label":{"description":"Make displays the item label to users in the scenario table header.","type":"string"},"description":{"description":"The description of the custom property structure item. You can review the item description in the **Scenario properties** tab in the Organization dashboard.","type":"string"},"type":{"description":"The data type of the custom property structure item. The data types `dropdown` and `multiselect` allow you to specify available options for the item data.","type":"string","enum":["boolean","number","shortText","longText","date","dropdown","multiselect"]},"options":{"description":"The options available to users when filling in the item data. For the data types `dropdown` and `multiselect`, fill in an object like `{\"options\":[{\"value\": \"Marketing\"}, {\"value\": \"Sales\"}]}`.\nYou can omit the `options` parameter for the rest of the data types. "},"required":{"description":"Set to `true` in order to make a structure item required when adding custom property data. Default value is `false`.","type":"boolean"}},"required":["name","label","type"]},"CustomPropertyStructureItem-requestBody-patch":{"type":"object","properties":{"label":{"description":"Make displays the item label to users in the scenario table header.","type":"string"},"description":{"description":"The description of the custom property structure item. You can review the item description in the **Scenario properties** tab in the Organization dashboard.","type":"string"},"options":{"description":"The options available to users when filling in the item data. For the data types `dropdown` and `multiselect`, fill in an object like `{\"options\":[{\"value\": \"Marketing\"}, {\"value\": \"Sales\"}]}`.\nYou can omit the `options` parameter for the rest of the data types. "},"required":{"description":"Set to `true` if you require to fill in data to the structure item when adding custom property data. Default value is `false`.","type":"boolean"}}},"CustomAppBase":{"anyOf":[{"additionalProperties":false,"type":"object","properties":{"url":{"minLength":1,"maxLength":512,"description":"Request URL","type":"string"},"baseUrl":{"minLength":1,"maxLength":512,"description":"Base URL for endpoints starting with /","type":"string"},"encodeUrl":{"default":true,"description":"This directive controls the encoding of URLs. It is on by default, so if you have any special characters in your URL, they will be automatically encoded. But there might be situations where you don't want your URL to be encoded automatically, or you want to control what parts of the URL are encoded. To do this, set this flag to false.","type":"boolean"},"method":{"description":"This directive specifies the HTTP method that will be used to issue the request.","anyOf":[{"default":"GET","anyOf":[{"enum":["GET"],"type":"string"},{"enum":["POST"],"type":"string"},{"enum":["PUT"],"type":"string"},{"enum":["PATCH"],"type":"string"},{"enum":["DELETE"],"type":"string"}]},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"headers":{"additionalProperties":{"anyOf":[{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"},{"type":"array","items":{}}]},"description":"This directive specifies headers that will be sent with the request.","type":"object","properties":{}},"qs":{"additionalProperties":{"anyOf":[{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"},{"type":"array","items":{}}]},"description":"This directive specifies the query string to use when making the request.","type":"object","properties":{}},"ca":{"maxLength":8192,"description":"Custom Certificate Authority","type":"string"},"body":{"description":"This directive specifies the request body.","anyOf":[{"type":"object","properties":{}},{"type":"array","items":{}},{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"}]},"type":{"anyOf":[{"default":"json","anyOf":[{"enum":["json"],"type":"string"},{"enum":["urlencoded"],"type":"string"},{"enum":["multipart/form-data"],"type":"string"},{"enum":["text"],"type":"string"},{"enum":["string"],"type":"string"},{"enum":["raw"],"type":"string"},{"enum":["binary"],"type":"string"}]},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"temp":{"additionalProperties":{},"description":"The temp directive specifies an object, which can be used to create custom temporary variables. It also creates a temp variable in IML, through which you then access your variables. The temp collection is not persisted and will be lost after the module is done executing.","type":"object","properties":{}},"condition":{"default":true,"description":"This directive specifies whether to execute the request or not.","anyOf":[{"type":"boolean"},{"type":"string"},{"additionalProperties":false,"type":"object","properties":{"condition":{"description":"Specifies if to execute the request or not.","anyOf":[{"type":"boolean"},{"type":"string"}]},"default":{"description":"Specifies the module output when the condition is false.","anyOf":[{"type":"array","items":{}},{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"object","properties":{}},{"type":"string"}]}},"required":["condition"]}]},"aws":{"additionalProperties":false,"description":"Helper directive, that will simplify generating AWS signatures.","type":"object","properties":{"key":{"maxLength":512,"description":"AWS key","type":"string"},"secret":{"maxLength":512,"description":"AWS secret","type":"string"},"session":{"maxLength":512,"description":"AWS session. Note that this only works for services that require session as part of the canonical string.","type":"string"},"bucket":{"maxLength":512,"description":"AWS bucket, unless you're specifying your bucket as part of the path, or the request doesn't use a bucket.","type":"string"},"sign_version":{"default":"2","description":"AWS sign version","anyOf":[{"enum":["2"],"type":"string"},{"enum":["4"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]}}},"gzip":{"default":false,"description":"Add an Accept-Encoding header to request compressed content encodings from the server (if not already present) and decode supported content encodings in the response.","type":"boolean"},"followRedirects":{"default":true,"description":"This directive specifies whether to follow GET HTTP 3xx responses as redirects or never.","type":"boolean"},"followAllRedirects":{"default":true,"description":"This directive specifies whether to follow non-GET HTTP 3xx responses as redirects or never.","type":"boolean"},"log":{"additionalProperties":false,"description":"This directive specifies logging options for both the request and the response.","type":"object","properties":{"sanitize":{"description":"An array of paths to sanitize when logging request or response.","type":"array","items":{"type":"string"}}}},"oauth":{"additionalProperties":false,"description":"Helper directive, that will simplify generating an OAuth1 Authorization headers.","type":"object","properties":{"consumer_key":{"maxLength":512,"description":"Your consumer key.","type":"string"},"consumer_secret":{"maxLength":512,"description":"Your consumer secret.","type":"string"},"private_key":{"maxLength":512,"description":"Instead of consumer_secret you can specify a private_key string in PEM format.","type":"string"},"token":{"maxLength":512,"description":"An expression that parses the oauth_token string.","type":"string"},"token_secret":{"maxLength":512,"description":"An expression that parses the oauth_token_secret string.","type":"string"},"verifier":{"maxLength":512,"description":"An expression that parses the oauth_verifier string.","type":"string"},"signature_method":{"default":"HMAC-SHA1","description":"Specifies the desired method to use when calculating the signature.","anyOf":[{"enum":["HMAC-SHA1"],"type":"string"},{"enum":["RSA-SHA1"],"type":"string"},{"enum":["PLAINTEXT"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"transport_method":{"default":"header","description":"Specifies how OAuth parameters are sent: via query params, header or in a POST body.","anyOf":[{"enum":["query"],"type":"string"},{"enum":["body"],"type":"string"},{"enum":["header"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"body_hash":{"default":true,"description":"To use Request Body Hash, you can either manually generate it, or you can set this directive to true and the body hash will be generated automatically.","anyOf":[{"type":"string"},{"type":"boolean"}]}}},"pagination":{"additionalProperties":false,"description":"Directive to specify how to process paginated responses.","type":"object","properties":{"mergeWithParent":{"default":true,"description":"This directive specifies if to merge pagination parameters with the original request parameters, or not.","type":"boolean"},"url":{"minLength":1,"maxLength":512,"description":"This directive specifies the URL that will be called when the pagination request is executed.","type":"string"},"method":{"description":"This directive specifies the HTTP method to be used when executing the pagination request.","anyOf":[{"default":"GET","anyOf":[{"enum":["GET"],"type":"string"},{"enum":["POST"],"type":"string"},{"enum":["PUT"],"type":"string"},{"enum":["PATCH"],"type":"string"},{"enum":["DELETE"],"type":"string"}]},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"headers":{"additionalProperties":{"anyOf":[{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"},{"type":"array","items":{}}]},"description":"This directive specifies the request headers to be used when executing the pagination request.","type":"object","properties":{}},"qs":{"additionalProperties":{"anyOf":[{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"},{"type":"array","items":{}}]},"description":"This directive specifies the request query string parameters to be used when executing the pagination request.","type":"object","properties":{}},"body":{"description":"This directive specifies the request body when the request method is anything but GET to be used when executing the pagination request.","anyOf":[{"type":"object","properties":{}},{"type":"array","items":{}},{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"}]},"condition":{"description":"This directive specifies whether to execute the pagination request or not.","anyOf":[{"type":"boolean"},{"type":"string"}]}}},"response":{"additionalProperties":false,"description":"Response parsing configuration","type":"object","properties":{"type":{"anyOf":[{"additionalProperties":{"anyOf":[{"default":"automatic","anyOf":[{"enum":["automatic"],"type":"string"},{"enum":["json"],"type":"string"},{"enum":["urlencoded"],"type":"string"},{"enum":["text"],"type":"string"},{"enum":["raw"],"type":"string"},{"enum":["string"],"type":"string"},{"enum":["binary"],"type":"string"},{"enum":["xml"],"type":"string"}]},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"type":"object","properties":{}},{"anyOf":[{"default":"automatic","anyOf":[{"enum":["automatic"],"type":"string"},{"enum":["json"],"type":"string"},{"enum":["urlencoded"],"type":"string"},{"enum":["text"],"type":"string"},{"enum":["raw"],"type":"string"},{"enum":["string"],"type":"string"},{"enum":["binary"],"type":"string"},{"enum":["xml"],"type":"string"}]},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]}]},"valid":{"default":true,"anyOf":[{"type":"boolean"},{"type":"string"},{"additionalProperties":false,"type":"object","properties":{"condition":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}}]},"limit":{"anyOf":[{"type":"number"},{"type":"string"}]},"error":{"anyOf":[{"description":"The error directive specifies the error type and the error message to show the user.","anyOf":[{"maxLength":1024,"type":"string"},{"required":["message"],"additionalProperties":{"required":["message"],"additionalProperties":false,"type":"object","properties":{"message":{"description":"An expression that parses an error message from response body.","maxLength":1024,"type":"string"},"type":{"default":"RuntimeError","anyOf":[{"enum":["RuntimeError"],"type":"string"},{"enum":["DataError"],"type":"string"},{"enum":["RateLimitError"],"type":"string"},{"enum":["OutOfSpaceError"],"type":"string"},{"enum":["ConnectionError"],"type":"string"},{"enum":["InvalidConfigurationError"],"type":"string"},{"enum":["InvalidAccessTokenError"],"type":"string"},{"enum":["IncompleteDataError"],"type":"string"},{"enum":["DuplicateDataError"],"type":"string"}]}}},"description":"Error object. You can specify custom errors for different status codes by using the status code as the key (e.g., \"404\", \"500\").","type":"object","properties":{"message":{"description":"An expression that parses an error message from response body.","maxLength":1024,"type":"string"},"type":{"default":"RuntimeError","anyOf":[{"enum":["RuntimeError"],"type":"string"},{"enum":["DataError"],"type":"string"},{"enum":["RateLimitError"],"type":"string"},{"enum":["OutOfSpaceError"],"type":"string"},{"enum":["ConnectionError"],"type":"string"},{"enum":["InvalidConfigurationError"],"type":"string"},{"enum":["InvalidAccessTokenError"],"type":"string"},{"enum":["IncompleteDataError"],"type":"string"},{"enum":["DuplicateDataError"],"type":"string"}]}}}]},{"additionalProperties":{"type":"object","properties":{"message":{"maxLength":1024,"type":"string"},"type":{"default":"RuntimeError","anyOf":[{"enum":["RuntimeError"],"type":"string"},{"enum":["DataError"],"type":"string"},{"enum":["RateLimitError"],"type":"string"},{"enum":["OutOfSpaceError"],"type":"string"},{"enum":["ConnectionError"],"type":"string"},{"enum":["InvalidConfigurationError"],"type":"string"},{"enum":["InvalidAccessTokenError"],"type":"string"},{"enum":["IncompleteDataError"],"type":"string"},{"enum":["DuplicateDataError"],"type":"string"}]}},"required":["message"]},"type":"object","properties":{"message":{"maxLength":1024,"type":"string"},"type":{"default":"RuntimeError","anyOf":[{"enum":["RuntimeError"],"type":"string"},{"enum":["DataError"],"type":"string"},{"enum":["RateLimitError"],"type":"string"},{"enum":["OutOfSpaceError"],"type":"string"},{"enum":["ConnectionError"],"type":"string"},{"enum":["InvalidConfigurationError"],"type":"string"},{"enum":["InvalidAccessTokenError"],"type":"string"},{"enum":["IncompleteDataError"],"type":"string"},{"enum":["DuplicateDataError"],"type":"string"}]}},"required":["message"]}]},"iterate":{"anyOf":[{"maxLength":512,"type":"string"},{"additionalProperties":false,"type":"object","properties":{"container":{"maxLength":512,"type":"string"},"condition":{"anyOf":[{"type":"string"},{"type":"boolean"}]}},"required":["container"]}]},"temp":{"additionalProperties":{},"description":"Temporary variables accessible during execution","type":"object","properties":{}},"output":{"anyOf":[{"type":"object","properties":{}},{"type":"array","items":{}},{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"}]},"trigger":{"additionalProperties":false,"type":"object","properties":{"type":{"anyOf":[{"enum":["date"],"type":"string"},{"enum":["id"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"order":{"anyOf":[{"enum":["asc"],"type":"string"},{"enum":["desc"],"type":"string"},{"enum":["unordered"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"id":{"maxLength":512,"type":"string"},"date":{"maxLength":512,"type":"string"}},"required":["type","order","id"]},"data":{"additionalProperties":{},"description":"Data saved to connection","type":"object","properties":{}},"metadata":{"additionalProperties":true,"description":"Connection metadata","type":"object","properties":{"value":{"maxLength":512,"type":"string"},"type":{"anyOf":[{"enum":["text"],"type":"string"},{"enum":["email"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]}}},"uid":{"description":"User remote service ID","anyOf":[{"type":"string"},{"type":"number"}]},"oauth":{"additionalProperties":false,"description":"Helper directive, that will simplify generating an OAuth1 Authorization headers.","type":"object","properties":{"consumer_key":{"maxLength":512,"description":"Your consumer key.","type":"string"},"consumer_secret":{"maxLength":512,"description":"Your consumer secret.","type":"string"},"private_key":{"maxLength":512,"description":"Instead of consumer_secret you can specify a private_key string in PEM format.","type":"string"},"token":{"maxLength":512,"description":"An expression that parses the oauth_token string.","type":"string"},"token_secret":{"maxLength":512,"description":"An expression that parses the oauth_token_secret string.","type":"string"},"verifier":{"maxLength":512,"description":"An expression that parses the oauth_verifier string.","type":"string"},"signature_method":{"default":"HMAC-SHA1","description":"Specifies the desired method to use when calculating the signature.","anyOf":[{"enum":["HMAC-SHA1"],"type":"string"},{"enum":["RSA-SHA1"],"type":"string"},{"enum":["PLAINTEXT"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"transport_method":{"default":"header","description":"Specifies how OAuth parameters are sent: via query params, header or in a POST body.","anyOf":[{"enum":["query"],"type":"string"},{"enum":["body"],"type":"string"},{"enum":["header"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"body_hash":{"default":true,"description":"To use Request Body Hash, you can either manually generate it, or you can set this directive to true and the body hash will be generated automatically.","anyOf":[{"type":"string"},{"type":"boolean"}]}}},"wrapper":{"default":"{{output}}","description":"Output post-processing wrapper","anyOf":[{"type":"object","properties":{}},{"type":"array","items":{}},{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"}]},"expires":{"minLength":1,"maxLength":512,"description":"Key expiration time for refresh triggers","type":"string"}}}}},{"type":"array","items":{"additionalProperties":false,"type":"object","properties":{"url":{"minLength":1,"maxLength":512,"description":"Request URL","type":"string"},"baseUrl":{"minLength":1,"maxLength":512,"description":"Base URL for endpoints starting with /","type":"string"},"encodeUrl":{"default":true,"description":"This directive controls the encoding of URLs. It is on by default, so if you have any special characters in your URL, they will be automatically encoded. But there might be situations where you don't want your URL to be encoded automatically, or you want to control what parts of the URL are encoded. To do this, set this flag to false.","type":"boolean"},"method":{"description":"This directive specifies the HTTP method that will be used to issue the request.","anyOf":[{"default":"GET","anyOf":[{"enum":["GET"],"type":"string"},{"enum":["POST"],"type":"string"},{"enum":["PUT"],"type":"string"},{"enum":["PATCH"],"type":"string"},{"enum":["DELETE"],"type":"string"}]},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"headers":{"additionalProperties":{"anyOf":[{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"},{"type":"array","items":{}}]},"description":"This directive specifies headers that will be sent with the request.","type":"object","properties":{}},"qs":{"additionalProperties":{"anyOf":[{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"},{"type":"array","items":{}}]},"description":"This directive specifies the query string to use when making the request.","type":"object","properties":{}},"ca":{"maxLength":8192,"description":"Custom Certificate Authority","type":"string"},"body":{"description":"This directive specifies the request body.","anyOf":[{"type":"object","properties":{}},{"type":"array","items":{}},{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"}]},"type":{"anyOf":[{"default":"json","anyOf":[{"enum":["json"],"type":"string"},{"enum":["urlencoded"],"type":"string"},{"enum":["multipart/form-data"],"type":"string"},{"enum":["text"],"type":"string"},{"enum":["string"],"type":"string"},{"enum":["raw"],"type":"string"},{"enum":["binary"],"type":"string"}]},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"temp":{"additionalProperties":{},"description":"The temp directive specifies an object, which can be used to create custom temporary variables. It also creates a temp variable in IML, through which you then access your variables. The temp collection is not persisted and will be lost after the module is done executing.","type":"object","properties":{}},"condition":{"default":true,"description":"This directive specifies whether to execute the request or not.","anyOf":[{"type":"boolean"},{"type":"string"},{"additionalProperties":false,"type":"object","properties":{"condition":{"description":"Specifies if to execute the request or not.","anyOf":[{"type":"boolean"},{"type":"string"}]},"default":{"description":"Specifies the module output when the condition is false.","anyOf":[{"type":"array","items":{}},{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"object","properties":{}},{"type":"string"}]}},"required":["condition"]}]},"aws":{"additionalProperties":false,"description":"Helper directive, that will simplify generating AWS signatures.","type":"object","properties":{"key":{"maxLength":512,"description":"AWS key","type":"string"},"secret":{"maxLength":512,"description":"AWS secret","type":"string"},"session":{"maxLength":512,"description":"AWS session. Note that this only works for services that require session as part of the canonical string.","type":"string"},"bucket":{"maxLength":512,"description":"AWS bucket, unless you're specifying your bucket as part of the path, or the request doesn't use a bucket.","type":"string"},"sign_version":{"default":"2","description":"AWS sign version","anyOf":[{"enum":["2"],"type":"string"},{"enum":["4"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]}}},"gzip":{"default":false,"description":"Add an Accept-Encoding header to request compressed content encodings from the server (if not already present) and decode supported content encodings in the response.","type":"boolean"},"followRedirects":{"default":true,"description":"This directive specifies whether to follow GET HTTP 3xx responses as redirects or never.","type":"boolean"},"followAllRedirects":{"default":true,"description":"This directive specifies whether to follow non-GET HTTP 3xx responses as redirects or never.","type":"boolean"},"log":{"additionalProperties":false,"description":"This directive specifies logging options for both the request and the response.","type":"object","properties":{"sanitize":{"description":"An array of paths to sanitize when logging request or response.","type":"array","items":{"type":"string"}}}},"oauth":{"additionalProperties":false,"description":"Helper directive, that will simplify generating an OAuth1 Authorization headers.","type":"object","properties":{"consumer_key":{"maxLength":512,"description":"Your consumer key.","type":"string"},"consumer_secret":{"maxLength":512,"description":"Your consumer secret.","type":"string"},"private_key":{"maxLength":512,"description":"Instead of consumer_secret you can specify a private_key string in PEM format.","type":"string"},"token":{"maxLength":512,"description":"An expression that parses the oauth_token string.","type":"string"},"token_secret":{"maxLength":512,"description":"An expression that parses the oauth_token_secret string.","type":"string"},"verifier":{"maxLength":512,"description":"An expression that parses the oauth_verifier string.","type":"string"},"signature_method":{"default":"HMAC-SHA1","description":"Specifies the desired method to use when calculating the signature.","anyOf":[{"enum":["HMAC-SHA1"],"type":"string"},{"enum":["RSA-SHA1"],"type":"string"},{"enum":["PLAINTEXT"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"transport_method":{"default":"header","description":"Specifies how OAuth parameters are sent: via query params, header or in a POST body.","anyOf":[{"enum":["query"],"type":"string"},{"enum":["body"],"type":"string"},{"enum":["header"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"body_hash":{"default":true,"description":"To use Request Body Hash, you can either manually generate it, or you can set this directive to true and the body hash will be generated automatically.","anyOf":[{"type":"string"},{"type":"boolean"}]}}},"pagination":{"additionalProperties":false,"description":"Directive to specify how to process paginated responses.","type":"object","properties":{"mergeWithParent":{"default":true,"description":"This directive specifies if to merge pagination parameters with the original request parameters, or not.","type":"boolean"},"url":{"minLength":1,"maxLength":512,"description":"This directive specifies the URL that will be called when the pagination request is executed.","type":"string"},"method":{"description":"This directive specifies the HTTP method to be used when executing the pagination request.","anyOf":[{"default":"GET","anyOf":[{"enum":["GET"],"type":"string"},{"enum":["POST"],"type":"string"},{"enum":["PUT"],"type":"string"},{"enum":["PATCH"],"type":"string"},{"enum":["DELETE"],"type":"string"}]},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"headers":{"additionalProperties":{"anyOf":[{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"},{"type":"array","items":{}}]},"description":"This directive specifies the request headers to be used when executing the pagination request.","type":"object","properties":{}},"qs":{"additionalProperties":{"anyOf":[{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"},{"type":"array","items":{}}]},"description":"This directive specifies the request query string parameters to be used when executing the pagination request.","type":"object","properties":{}},"body":{"description":"This directive specifies the request body when the request method is anything but GET to be used when executing the pagination request.","anyOf":[{"type":"object","properties":{}},{"type":"array","items":{}},{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"}]},"condition":{"description":"This directive specifies whether to execute the pagination request or not.","anyOf":[{"type":"boolean"},{"type":"string"}]}}},"response":{"additionalProperties":false,"description":"Response parsing configuration","type":"object","properties":{"type":{"anyOf":[{"additionalProperties":{"anyOf":[{"default":"automatic","anyOf":[{"enum":["automatic"],"type":"string"},{"enum":["json"],"type":"string"},{"enum":["urlencoded"],"type":"string"},{"enum":["text"],"type":"string"},{"enum":["raw"],"type":"string"},{"enum":["string"],"type":"string"},{"enum":["binary"],"type":"string"},{"enum":["xml"],"type":"string"}]},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"type":"object","properties":{}},{"anyOf":[{"default":"automatic","anyOf":[{"enum":["automatic"],"type":"string"},{"enum":["json"],"type":"string"},{"enum":["urlencoded"],"type":"string"},{"enum":["text"],"type":"string"},{"enum":["raw"],"type":"string"},{"enum":["string"],"type":"string"},{"enum":["binary"],"type":"string"},{"enum":["xml"],"type":"string"}]},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]}]},"valid":{"default":true,"anyOf":[{"type":"boolean"},{"type":"string"},{"additionalProperties":false,"type":"object","properties":{"condition":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}}]},"limit":{"anyOf":[{"type":"number"},{"type":"string"}]},"error":{"anyOf":[{"description":"The error directive specifies the error type and the error message to show the user.","anyOf":[{"maxLength":1024,"type":"string"},{"required":["message"],"additionalProperties":{"required":["message"],"additionalProperties":false,"type":"object","properties":{"message":{"description":"An expression that parses an error message from response body.","maxLength":1024,"type":"string"},"type":{"default":"RuntimeError","anyOf":[{"enum":["RuntimeError"],"type":"string"},{"enum":["DataError"],"type":"string"},{"enum":["RateLimitError"],"type":"string"},{"enum":["OutOfSpaceError"],"type":"string"},{"enum":["ConnectionError"],"type":"string"},{"enum":["InvalidConfigurationError"],"type":"string"},{"enum":["InvalidAccessTokenError"],"type":"string"},{"enum":["IncompleteDataError"],"type":"string"},{"enum":["DuplicateDataError"],"type":"string"}]}}},"description":"Error object. You can specify custom errors for different status codes by using the status code as the key (e.g., \"404\", \"500\").","type":"object","properties":{"message":{"description":"An expression that parses an error message from response body.","maxLength":1024,"type":"string"},"type":{"default":"RuntimeError","anyOf":[{"enum":["RuntimeError"],"type":"string"},{"enum":["DataError"],"type":"string"},{"enum":["RateLimitError"],"type":"string"},{"enum":["OutOfSpaceError"],"type":"string"},{"enum":["ConnectionError"],"type":"string"},{"enum":["InvalidConfigurationError"],"type":"string"},{"enum":["InvalidAccessTokenError"],"type":"string"},{"enum":["IncompleteDataError"],"type":"string"},{"enum":["DuplicateDataError"],"type":"string"}]}}}]},{"additionalProperties":{"type":"object","properties":{"message":{"maxLength":1024,"type":"string"},"type":{"default":"RuntimeError","anyOf":[{"enum":["RuntimeError"],"type":"string"},{"enum":["DataError"],"type":"string"},{"enum":["RateLimitError"],"type":"string"},{"enum":["OutOfSpaceError"],"type":"string"},{"enum":["ConnectionError"],"type":"string"},{"enum":["InvalidConfigurationError"],"type":"string"},{"enum":["InvalidAccessTokenError"],"type":"string"},{"enum":["IncompleteDataError"],"type":"string"},{"enum":["DuplicateDataError"],"type":"string"}]}},"required":["message"]},"type":"object","properties":{"message":{"maxLength":1024,"type":"string"},"type":{"default":"RuntimeError","anyOf":[{"enum":["RuntimeError"],"type":"string"},{"enum":["DataError"],"type":"string"},{"enum":["RateLimitError"],"type":"string"},{"enum":["OutOfSpaceError"],"type":"string"},{"enum":["ConnectionError"],"type":"string"},{"enum":["InvalidConfigurationError"],"type":"string"},{"enum":["InvalidAccessTokenError"],"type":"string"},{"enum":["IncompleteDataError"],"type":"string"},{"enum":["DuplicateDataError"],"type":"string"}]}},"required":["message"]}]},"iterate":{"anyOf":[{"maxLength":512,"type":"string"},{"additionalProperties":false,"type":"object","properties":{"container":{"maxLength":512,"type":"string"},"condition":{"anyOf":[{"type":"string"},{"type":"boolean"}]}},"required":["container"]}]},"temp":{"additionalProperties":{},"description":"Temporary variables accessible during execution","type":"object","properties":{}},"output":{"anyOf":[{"type":"object","properties":{}},{"type":"array","items":{}},{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"}]},"trigger":{"additionalProperties":false,"type":"object","properties":{"type":{"anyOf":[{"enum":["date"],"type":"string"},{"enum":["id"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"order":{"anyOf":[{"enum":["asc"],"type":"string"},{"enum":["desc"],"type":"string"},{"enum":["unordered"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"id":{"maxLength":512,"type":"string"},"date":{"maxLength":512,"type":"string"}},"required":["type","order","id"]},"data":{"additionalProperties":{},"description":"Data saved to connection","type":"object","properties":{}},"metadata":{"additionalProperties":true,"description":"Connection metadata","type":"object","properties":{"value":{"maxLength":512,"type":"string"},"type":{"anyOf":[{"enum":["text"],"type":"string"},{"enum":["email"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]}}},"uid":{"description":"User remote service ID","anyOf":[{"type":"string"},{"type":"number"}]},"oauth":{"additionalProperties":false,"description":"Helper directive, that will simplify generating an OAuth1 Authorization headers.","type":"object","properties":{"consumer_key":{"maxLength":512,"description":"Your consumer key.","type":"string"},"consumer_secret":{"maxLength":512,"description":"Your consumer secret.","type":"string"},"private_key":{"maxLength":512,"description":"Instead of consumer_secret you can specify a private_key string in PEM format.","type":"string"},"token":{"maxLength":512,"description":"An expression that parses the oauth_token string.","type":"string"},"token_secret":{"maxLength":512,"description":"An expression that parses the oauth_token_secret string.","type":"string"},"verifier":{"maxLength":512,"description":"An expression that parses the oauth_verifier string.","type":"string"},"signature_method":{"default":"HMAC-SHA1","description":"Specifies the desired method to use when calculating the signature.","anyOf":[{"enum":["HMAC-SHA1"],"type":"string"},{"enum":["RSA-SHA1"],"type":"string"},{"enum":["PLAINTEXT"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"transport_method":{"default":"header","description":"Specifies how OAuth parameters are sent: via query params, header or in a POST body.","anyOf":[{"enum":["query"],"type":"string"},{"enum":["body"],"type":"string"},{"enum":["header"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"body_hash":{"default":true,"description":"To use Request Body Hash, you can either manually generate it, or you can set this directive to true and the body hash will be generated automatically.","anyOf":[{"type":"string"},{"type":"boolean"}]}}},"wrapper":{"default":"{{output}}","description":"Output post-processing wrapper","anyOf":[{"type":"object","properties":{}},{"type":"array","items":{}},{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"}]},"expires":{"minLength":1,"maxLength":512,"description":"Key expiration time for refresh triggers","type":"string"}}}}}}]},"CustomAppGroups":{"type":"array","items":{"additionalProperties":false,"type":"object","properties":{"label":{"type":"string"},"modules":{"type":"array","items":{"type":"string"}}},"required":["label","modules"]}},"CustomAppInstallSpecification":{},"CustomAppInstall":{},"CustomAppModuleApi":{"anyOf":[{"additionalProperties":false,"type":"object","properties":{"url":{"minLength":1,"maxLength":512,"description":"Request URL","type":"string"},"baseUrl":{"minLength":1,"maxLength":512,"description":"Base URL for endpoints starting with /","type":"string"},"encodeUrl":{"default":true,"description":"This directive controls the encoding of URLs. It is on by default, so if you have any special characters in your URL, they will be automatically encoded. But there might be situations where you don't want your URL to be encoded automatically, or you want to control what parts of the URL are encoded. To do this, set this flag to false.","type":"boolean"},"method":{"description":"This directive specifies the HTTP method that will be used to issue the request.","anyOf":[{"default":"GET","anyOf":[{"enum":["GET"],"type":"string"},{"enum":["POST"],"type":"string"},{"enum":["PUT"],"type":"string"},{"enum":["PATCH"],"type":"string"},{"enum":["DELETE"],"type":"string"}]},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"headers":{"additionalProperties":{"anyOf":[{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"},{"type":"array","items":{}}]},"description":"This directive specifies headers that will be sent with the request.","type":"object","properties":{}},"qs":{"additionalProperties":{"anyOf":[{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"},{"type":"array","items":{}}]},"description":"This directive specifies the query string to use when making the request.","type":"object","properties":{}},"ca":{"maxLength":8192,"description":"Custom Certificate Authority","type":"string"},"body":{"description":"This directive specifies the request body.","anyOf":[{"type":"object","properties":{}},{"type":"array","items":{}},{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"}]},"type":{"anyOf":[{"default":"json","anyOf":[{"enum":["json"],"type":"string"},{"enum":["urlencoded"],"type":"string"},{"enum":["multipart/form-data"],"type":"string"},{"enum":["text"],"type":"string"},{"enum":["string"],"type":"string"},{"enum":["raw"],"type":"string"},{"enum":["binary"],"type":"string"}]},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"temp":{"additionalProperties":{},"description":"The temp directive specifies an object, which can be used to create custom temporary variables. It also creates a temp variable in IML, through which you then access your variables. The temp collection is not persisted and will be lost after the module is done executing.","type":"object","properties":{}},"condition":{"default":true,"description":"This directive specifies whether to execute the request or not.","anyOf":[{"type":"boolean"},{"type":"string"},{"additionalProperties":false,"type":"object","properties":{"condition":{"description":"Specifies if to execute the request or not.","anyOf":[{"type":"boolean"},{"type":"string"}]},"default":{"description":"Specifies the module output when the condition is false.","anyOf":[{"type":"array","items":{}},{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"object","properties":{}},{"type":"string"}]}},"required":["condition"]}]},"aws":{"additionalProperties":false,"description":"Helper directive, that will simplify generating AWS signatures.","type":"object","properties":{"key":{"maxLength":512,"description":"AWS key","type":"string"},"secret":{"maxLength":512,"description":"AWS secret","type":"string"},"session":{"maxLength":512,"description":"AWS session. Note that this only works for services that require session as part of the canonical string.","type":"string"},"bucket":{"maxLength":512,"description":"AWS bucket, unless you're specifying your bucket as part of the path, or the request doesn't use a bucket.","type":"string"},"sign_version":{"default":"2","description":"AWS sign version","anyOf":[{"enum":["2"],"type":"string"},{"enum":["4"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]}}},"gzip":{"default":false,"description":"Add an Accept-Encoding header to request compressed content encodings from the server (if not already present) and decode supported content encodings in the response.","type":"boolean"},"followRedirects":{"default":true,"description":"This directive specifies whether to follow GET HTTP 3xx responses as redirects or never.","type":"boolean"},"followAllRedirects":{"default":true,"description":"This directive specifies whether to follow non-GET HTTP 3xx responses as redirects or never.","type":"boolean"},"log":{"additionalProperties":false,"description":"This directive specifies logging options for both the request and the response.","type":"object","properties":{"sanitize":{"description":"An array of paths to sanitize when logging request or response.","type":"array","items":{"type":"string"}}}},"oauth":{"additionalProperties":false,"description":"Helper directive, that will simplify generating an OAuth1 Authorization headers.","type":"object","properties":{"consumer_key":{"maxLength":512,"description":"Your consumer key.","type":"string"},"consumer_secret":{"maxLength":512,"description":"Your consumer secret.","type":"string"},"private_key":{"maxLength":512,"description":"Instead of consumer_secret you can specify a private_key string in PEM format.","type":"string"},"token":{"maxLength":512,"description":"An expression that parses the oauth_token string.","type":"string"},"token_secret":{"maxLength":512,"description":"An expression that parses the oauth_token_secret string.","type":"string"},"verifier":{"maxLength":512,"description":"An expression that parses the oauth_verifier string.","type":"string"},"signature_method":{"default":"HMAC-SHA1","description":"Specifies the desired method to use when calculating the signature.","anyOf":[{"enum":["HMAC-SHA1"],"type":"string"},{"enum":["RSA-SHA1"],"type":"string"},{"enum":["PLAINTEXT"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"transport_method":{"default":"header","description":"Specifies how OAuth parameters are sent: via query params, header or in a POST body.","anyOf":[{"enum":["query"],"type":"string"},{"enum":["body"],"type":"string"},{"enum":["header"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"body_hash":{"default":true,"description":"To use Request Body Hash, you can either manually generate it, or you can set this directive to true and the body hash will be generated automatically.","anyOf":[{"type":"string"},{"type":"boolean"}]}}},"pagination":{"additionalProperties":false,"description":"Directive to specify how to process paginated responses.","type":"object","properties":{"mergeWithParent":{"default":true,"description":"This directive specifies if to merge pagination parameters with the original request parameters, or not.","type":"boolean"},"url":{"minLength":1,"maxLength":512,"description":"This directive specifies the URL that will be called when the pagination request is executed.","type":"string"},"method":{"description":"This directive specifies the HTTP method to be used when executing the pagination request.","anyOf":[{"default":"GET","anyOf":[{"enum":["GET"],"type":"string"},{"enum":["POST"],"type":"string"},{"enum":["PUT"],"type":"string"},{"enum":["PATCH"],"type":"string"},{"enum":["DELETE"],"type":"string"}]},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"headers":{"additionalProperties":{"anyOf":[{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"},{"type":"array","items":{}}]},"description":"This directive specifies the request headers to be used when executing the pagination request.","type":"object","properties":{}},"qs":{"additionalProperties":{"anyOf":[{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"},{"type":"array","items":{}}]},"description":"This directive specifies the request query string parameters to be used when executing the pagination request.","type":"object","properties":{}},"body":{"description":"This directive specifies the request body when the request method is anything but GET to be used when executing the pagination request.","anyOf":[{"type":"object","properties":{}},{"type":"array","items":{}},{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"}]},"condition":{"description":"This directive specifies whether to execute the pagination request or not.","anyOf":[{"type":"boolean"},{"type":"string"}]}}},"response":{"additionalProperties":false,"description":"Response parsing configuration","type":"object","properties":{"type":{"anyOf":[{"additionalProperties":{"anyOf":[{"default":"automatic","anyOf":[{"enum":["automatic"],"type":"string"},{"enum":["json"],"type":"string"},{"enum":["urlencoded"],"type":"string"},{"enum":["text"],"type":"string"},{"enum":["raw"],"type":"string"},{"enum":["string"],"type":"string"},{"enum":["binary"],"type":"string"},{"enum":["xml"],"type":"string"}]},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"type":"object","properties":{}},{"anyOf":[{"default":"automatic","anyOf":[{"enum":["automatic"],"type":"string"},{"enum":["json"],"type":"string"},{"enum":["urlencoded"],"type":"string"},{"enum":["text"],"type":"string"},{"enum":["raw"],"type":"string"},{"enum":["string"],"type":"string"},{"enum":["binary"],"type":"string"},{"enum":["xml"],"type":"string"}]},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]}]},"valid":{"default":true,"anyOf":[{"type":"boolean"},{"type":"string"},{"additionalProperties":false,"type":"object","properties":{"condition":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}}]},"limit":{"anyOf":[{"type":"number"},{"type":"string"}]},"error":{"anyOf":[{"description":"The error directive specifies the error type and the error message to show the user.","anyOf":[{"maxLength":1024,"type":"string"},{"required":["message"],"additionalProperties":{"required":["message"],"additionalProperties":false,"type":"object","properties":{"message":{"description":"An expression that parses an error message from response body.","maxLength":1024,"type":"string"},"type":{"default":"RuntimeError","anyOf":[{"enum":["RuntimeError"],"type":"string"},{"enum":["DataError"],"type":"string"},{"enum":["RateLimitError"],"type":"string"},{"enum":["OutOfSpaceError"],"type":"string"},{"enum":["ConnectionError"],"type":"string"},{"enum":["InvalidConfigurationError"],"type":"string"},{"enum":["InvalidAccessTokenError"],"type":"string"},{"enum":["IncompleteDataError"],"type":"string"},{"enum":["DuplicateDataError"],"type":"string"}]}}},"description":"Error object. You can specify custom errors for different status codes by using the status code as the key (e.g., \"404\", \"500\").","type":"object","properties":{"message":{"description":"An expression that parses an error message from response body.","maxLength":1024,"type":"string"},"type":{"default":"RuntimeError","anyOf":[{"enum":["RuntimeError"],"type":"string"},{"enum":["DataError"],"type":"string"},{"enum":["RateLimitError"],"type":"string"},{"enum":["OutOfSpaceError"],"type":"string"},{"enum":["ConnectionError"],"type":"string"},{"enum":["InvalidConfigurationError"],"type":"string"},{"enum":["InvalidAccessTokenError"],"type":"string"},{"enum":["IncompleteDataError"],"type":"string"},{"enum":["DuplicateDataError"],"type":"string"}]}}}]},{"additionalProperties":{"type":"object","properties":{"message":{"maxLength":1024,"type":"string"},"type":{"default":"RuntimeError","anyOf":[{"enum":["RuntimeError"],"type":"string"},{"enum":["DataError"],"type":"string"},{"enum":["RateLimitError"],"type":"string"},{"enum":["OutOfSpaceError"],"type":"string"},{"enum":["ConnectionError"],"type":"string"},{"enum":["InvalidConfigurationError"],"type":"string"},{"enum":["InvalidAccessTokenError"],"type":"string"},{"enum":["IncompleteDataError"],"type":"string"},{"enum":["DuplicateDataError"],"type":"string"}]}},"required":["message"]},"type":"object","properties":{"message":{"maxLength":1024,"type":"string"},"type":{"default":"RuntimeError","anyOf":[{"enum":["RuntimeError"],"type":"string"},{"enum":["DataError"],"type":"string"},{"enum":["RateLimitError"],"type":"string"},{"enum":["OutOfSpaceError"],"type":"string"},{"enum":["ConnectionError"],"type":"string"},{"enum":["InvalidConfigurationError"],"type":"string"},{"enum":["InvalidAccessTokenError"],"type":"string"},{"enum":["IncompleteDataError"],"type":"string"},{"enum":["DuplicateDataError"],"type":"string"}]}},"required":["message"]}]},"iterate":{"anyOf":[{"maxLength":512,"type":"string"},{"additionalProperties":false,"type":"object","properties":{"container":{"maxLength":512,"type":"string"},"condition":{"anyOf":[{"type":"string"},{"type":"boolean"}]}},"required":["container"]}]},"temp":{"additionalProperties":{},"description":"Temporary variables accessible during execution","type":"object","properties":{}},"output":{"anyOf":[{"type":"object","properties":{}},{"type":"array","items":{}},{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"}]},"trigger":{"additionalProperties":false,"type":"object","properties":{"type":{"anyOf":[{"enum":["date"],"type":"string"},{"enum":["id"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"order":{"anyOf":[{"enum":["asc"],"type":"string"},{"enum":["desc"],"type":"string"},{"enum":["unordered"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"id":{"maxLength":512,"type":"string"},"date":{"maxLength":512,"type":"string"}},"required":["type","order","id"]},"data":{"additionalProperties":{},"description":"Data saved to connection","type":"object","properties":{}},"metadata":{"additionalProperties":true,"description":"Connection metadata","type":"object","properties":{"value":{"maxLength":512,"type":"string"},"type":{"anyOf":[{"enum":["text"],"type":"string"},{"enum":["email"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]}}},"uid":{"description":"User remote service ID","anyOf":[{"type":"string"},{"type":"number"}]},"oauth":{"additionalProperties":false,"description":"Helper directive, that will simplify generating an OAuth1 Authorization headers.","type":"object","properties":{"consumer_key":{"maxLength":512,"description":"Your consumer key.","type":"string"},"consumer_secret":{"maxLength":512,"description":"Your consumer secret.","type":"string"},"private_key":{"maxLength":512,"description":"Instead of consumer_secret you can specify a private_key string in PEM format.","type":"string"},"token":{"maxLength":512,"description":"An expression that parses the oauth_token string.","type":"string"},"token_secret":{"maxLength":512,"description":"An expression that parses the oauth_token_secret string.","type":"string"},"verifier":{"maxLength":512,"description":"An expression that parses the oauth_verifier string.","type":"string"},"signature_method":{"default":"HMAC-SHA1","description":"Specifies the desired method to use when calculating the signature.","anyOf":[{"enum":["HMAC-SHA1"],"type":"string"},{"enum":["RSA-SHA1"],"type":"string"},{"enum":["PLAINTEXT"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"transport_method":{"default":"header","description":"Specifies how OAuth parameters are sent: via query params, header or in a POST body.","anyOf":[{"enum":["query"],"type":"string"},{"enum":["body"],"type":"string"},{"enum":["header"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"body_hash":{"default":true,"description":"To use Request Body Hash, you can either manually generate it, or you can set this directive to true and the body hash will be generated automatically.","anyOf":[{"type":"string"},{"type":"boolean"}]}}},"wrapper":{"default":"{{output}}","description":"Output post-processing wrapper","anyOf":[{"type":"object","properties":{}},{"type":"array","items":{}},{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"}]},"expires":{"minLength":1,"maxLength":512,"description":"Key expiration time for refresh triggers","type":"string"}}},"output":{"anyOf":[{"type":"object","properties":{}},{"type":"array","items":{}},{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"}]},"iterate":{"anyOf":[{"maxLength":512,"type":"string"},{"additionalProperties":false,"type":"object","properties":{"container":{"maxLength":512,"type":"string"},"condition":{"anyOf":[{"type":"string"},{"type":"boolean"}]}},"required":["container"]}]},"respond":{"additionalProperties":false,"type":"object","properties":{"type":{"default":"json","anyOf":[{"enum":["json"],"type":"string"},{"enum":["urlencoded"],"type":"string"},{"enum":["text"],"type":"string"}]},"status":{"anyOf":[{"minimum":100,"maximum":999,"type":"integer"},{"type":"string"}]},"headers":{"additionalProperties":{"anyOf":[{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"},{"type":"array","items":{}}]},"description":"Request headers","type":"object","properties":{}},"body":{"description":"Request body","anyOf":[{"type":"object","properties":{}},{"type":"array","items":{}},{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"}]}}},"verification":{"additionalProperties":false,"type":"object","properties":{"condition":{"default":true,"anyOf":[{"type":"boolean"},{"type":"string"},{"additionalProperties":false,"type":"object","properties":{"condition":{"anyOf":[{"type":"boolean"},{"type":"string"}]},"default":{"anyOf":[{"type":"array","items":{}},{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"object","properties":{}},{"type":"string"}]}},"required":["condition"]}]},"respond":{"additionalProperties":false,"type":"object","properties":{"type":{"default":"json","anyOf":[{"enum":["json"],"type":"string"},{"enum":["urlencoded"],"type":"string"},{"enum":["text"],"type":"string"}]},"status":{"anyOf":[{"minimum":100,"maximum":999,"type":"integer"},{"type":"string"}]},"headers":{"additionalProperties":{"anyOf":[{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"},{"type":"array","items":{}}]},"description":"Request headers","type":"object","properties":{}},"body":{"description":"Request body","anyOf":[{"type":"object","properties":{}},{"type":"array","items":{}},{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"}]}}}}},"repeat":{"description":"Repeats a request under a certain condition with a predefined delay in milliseconds. The maximum number of repeats can be bounded by the repeat.limit.","type":"object","properties":{"condition":{"description":"Specifies if to execute the request or not.","type":"string"},"delay":{"description":"Specifies the delay in milliseconds.","type":"number"},"limit":{"description":"Specifies the maximum number of iterations.","type":"number"}}}}},{"type":"array","items":{"additionalProperties":false,"type":"object","properties":{"url":{"minLength":1,"maxLength":512,"description":"Request URL","type":"string"},"baseUrl":{"minLength":1,"maxLength":512,"description":"Base URL for endpoints starting with /","type":"string"},"encodeUrl":{"default":true,"description":"This directive controls the encoding of URLs. It is on by default, so if you have any special characters in your URL, they will be automatically encoded. But there might be situations where you don't want your URL to be encoded automatically, or you want to control what parts of the URL are encoded. To do this, set this flag to false.","type":"boolean"},"method":{"description":"This directive specifies the HTTP method that will be used to issue the request.","anyOf":[{"default":"GET","anyOf":[{"enum":["GET"],"type":"string"},{"enum":["POST"],"type":"string"},{"enum":["PUT"],"type":"string"},{"enum":["PATCH"],"type":"string"},{"enum":["DELETE"],"type":"string"}]},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"headers":{"additionalProperties":{"anyOf":[{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"},{"type":"array","items":{}}]},"description":"This directive specifies headers that will be sent with the request.","type":"object","properties":{}},"qs":{"additionalProperties":{"anyOf":[{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"},{"type":"array","items":{}}]},"description":"This directive specifies the query string to use when making the request.","type":"object","properties":{}},"ca":{"maxLength":8192,"description":"Custom Certificate Authority","type":"string"},"body":{"description":"This directive specifies the request body.","anyOf":[{"type":"object","properties":{}},{"type":"array","items":{}},{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"}]},"type":{"anyOf":[{"default":"json","anyOf":[{"enum":["json"],"type":"string"},{"enum":["urlencoded"],"type":"string"},{"enum":["multipart/form-data"],"type":"string"},{"enum":["text"],"type":"string"},{"enum":["string"],"type":"string"},{"enum":["raw"],"type":"string"},{"enum":["binary"],"type":"string"}]},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"temp":{"additionalProperties":{},"description":"The temp directive specifies an object, which can be used to create custom temporary variables. It also creates a temp variable in IML, through which you then access your variables. The temp collection is not persisted and will be lost after the module is done executing.","type":"object","properties":{}},"condition":{"default":true,"description":"This directive specifies whether to execute the request or not.","anyOf":[{"type":"boolean"},{"type":"string"},{"additionalProperties":false,"type":"object","properties":{"condition":{"description":"Specifies if to execute the request or not.","anyOf":[{"type":"boolean"},{"type":"string"}]},"default":{"description":"Specifies the module output when the condition is false.","anyOf":[{"type":"array","items":{}},{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"object","properties":{}},{"type":"string"}]}},"required":["condition"]}]},"aws":{"additionalProperties":false,"description":"Helper directive, that will simplify generating AWS signatures.","type":"object","properties":{"key":{"maxLength":512,"description":"AWS key","type":"string"},"secret":{"maxLength":512,"description":"AWS secret","type":"string"},"session":{"maxLength":512,"description":"AWS session. Note that this only works for services that require session as part of the canonical string.","type":"string"},"bucket":{"maxLength":512,"description":"AWS bucket, unless you're specifying your bucket as part of the path, or the request doesn't use a bucket.","type":"string"},"sign_version":{"default":"2","description":"AWS sign version","anyOf":[{"enum":["2"],"type":"string"},{"enum":["4"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]}}},"gzip":{"default":false,"description":"Add an Accept-Encoding header to request compressed content encodings from the server (if not already present) and decode supported content encodings in the response.","type":"boolean"},"followRedirects":{"default":true,"description":"This directive specifies whether to follow GET HTTP 3xx responses as redirects or never.","type":"boolean"},"followAllRedirects":{"default":true,"description":"This directive specifies whether to follow non-GET HTTP 3xx responses as redirects or never.","type":"boolean"},"log":{"additionalProperties":false,"description":"This directive specifies logging options for both the request and the response.","type":"object","properties":{"sanitize":{"description":"An array of paths to sanitize when logging request or response.","type":"array","items":{"type":"string"}}}},"oauth":{"additionalProperties":false,"description":"Helper directive, that will simplify generating an OAuth1 Authorization headers.","type":"object","properties":{"consumer_key":{"maxLength":512,"description":"Your consumer key.","type":"string"},"consumer_secret":{"maxLength":512,"description":"Your consumer secret.","type":"string"},"private_key":{"maxLength":512,"description":"Instead of consumer_secret you can specify a private_key string in PEM format.","type":"string"},"token":{"maxLength":512,"description":"An expression that parses the oauth_token string.","type":"string"},"token_secret":{"maxLength":512,"description":"An expression that parses the oauth_token_secret string.","type":"string"},"verifier":{"maxLength":512,"description":"An expression that parses the oauth_verifier string.","type":"string"},"signature_method":{"default":"HMAC-SHA1","description":"Specifies the desired method to use when calculating the signature.","anyOf":[{"enum":["HMAC-SHA1"],"type":"string"},{"enum":["RSA-SHA1"],"type":"string"},{"enum":["PLAINTEXT"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"transport_method":{"default":"header","description":"Specifies how OAuth parameters are sent: via query params, header or in a POST body.","anyOf":[{"enum":["query"],"type":"string"},{"enum":["body"],"type":"string"},{"enum":["header"],"type":"string"},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"body_hash":{"default":true,"description":"To use Request Body Hash, you can either manually generate it, or you can set this directive to true and the body hash will be generated automatically.","anyOf":[{"type":"string"},{"type":"boolean"}]}}},"pagination":{"additionalProperties":false,"description":"Directive to specify how to process paginated responses.","type":"object","properties":{"mergeWithParent":{"default":true,"description":"This directive specifies if to merge pagination parameters with the original request parameters, or not.","type":"boolean"},"url":{"minLength":1,"maxLength":512,"description":"This directive specifies the URL that will be called when the pagination request is executed.","type":"string"},"method":{"description":"This directive specifies the HTTP method to be used when executing the pagination request.","anyOf":[{"default":"GET","anyOf":[{"enum":["GET"],"type":"string"},{"enum":["POST"],"type":"string"},{"enum":["PUT"],"type":"string"},{"enum":["PATCH"],"type":"string"},{"enum":["DELETE"],"type":"string"}]},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"headers":{"additionalProperties":{"anyOf":[{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"},{"type":"array","items":{}}]},"description":"This directive specifies the request headers to be used when executing the pagination request.","type":"object","properties":{}},"qs":{"additionalProperties":{"anyOf":[{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"},{"type":"array","items":{}}]},"description":"This directive specifies the request query string parameters to be used when executing the pagination request.","type":"object","properties":{}},"body":{"description":"This directive specifies the request body when the request method is anything but GET to be used when executing the pagination request.","anyOf":[{"type":"object","properties":{}},{"type":"array","items":{}},{"type":"boolean"},{"type":"integer"},{"type":"string","nullable":true},{"type":"number"},{"type":"string"}]},"condition":{"description":"This directive specifies whether to execute the pagination request or not.","anyOf":[{"type":"boolean"},{"type":"string"}]}}},"response":{"additionalProperties":false,"description":"Response parsing configuration","type":"object","properties":{"type":{"anyOf":[{"additionalProperties":{"anyOf":[{"default":"automatic","anyOf":[{"enum":["automatic"],"type":"string"},{"enum":["json"],"type":"string"},{"enum":["urlencoded"],"type":"string"},{"enum":["text"],"type":"string"},{"enum":["raw"],"type":"string"},{"enum":["string"],"type":"string"},{"enum":["binary"],"type":"string"},{"enum":["xml"],"type":"string"}]},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]},"type":"object","properties":{}},{"anyOf":[{"default":"automatic","anyOf":[{"enum":["automatic"],"type":"string"},{"enum":["json"],"type":"string"},{"enum":["urlencoded"],"type":"string"},{"enum":["text"],"type":"string"},{"enum":["raw"],"type":"string"},{"enum":["string"],"type":"string"},{"enum":["binary"],"type":"string"},{"enum":["xml"],"type":"string"}]},{"pattern":"^.*[{][{].*[}][}].*$","type":"string"}]}]},"valid":{"default":true,"anyOf":[{"type":"boolean"},{"type":"string"},{"additionalProperties":false,"type":"object","properties":{"condition":{"type":"string"},"message":{"type":"string"},"type":{"type":"string"}}}]},"limit":{"anyOf":[{"type":"number"},{"type":"string"}]},"error":{"anyOf":[{"description":"The error directive specifies the error type and the error message to show the user.","anyOf":[{"maxLength":1024,"type":"string"},{"required":["message"],"additionalProperties":{"required":["message"],"additionalProperties":false,"type":"object","properties":{"message":{"description":"An expression that parses an error message from response body.","maxLength":1024,"type":"string"},"type":{"default":"RuntimeError","anyOf":[{"enum":["RuntimeError"],"type":"string"},{"enum":["DataError"],"type":"string"},{"enum":["RateLimitError"],"type":"string"},{"enum":["OutOfSpaceError"],"type":"string"},{"enum":["ConnectionError"],"type":"string"},{"enum":["InvalidConfigurationError"],"type":"string"},{"enum":["InvalidAccessTokenError"],"type":"string"},{"enum":["IncompleteDataError"],"type":"string"},{"enum":["DuplicateDataError"],"type":"string"}]}}},"description":"Error object. You can specify custom errors for different status codes by using the status code as the key (e.g., \"404\",
[...]
