{
  "openapi": "3.0.4",
  "info": {
    "title": "Web API v2 - Public ",
    "description": "Documentation of the public web API.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://eu1.make.com/api/v2",
      "description": "EU1 production zone"
    },
    {
      "url": "https://eu2.make.com/api/v2",
      "description": "EU2 production zone"
    },
    {
      "url": "https://us1.make.com/api/v2",
      "description": "US1 production zone"
    },
    {
      "url": "https://us2.make.com/api/v2",
      "description": "US2 production zone"
    },
    {
      "url": "https://eu1.make.celonis.com/api/v2",
      "description": "Celonis EU1 production zone"
    },
    {
      "url": "https://us1.make.celonis.com/api/v2",
      "description": "Celonis US1 production zone"
    }
  ],
  "paths": {
    "/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Log in",
        "description": "Logs a user in by passing the user's email and password in the request body. It does not work with an API token.",
        "operationId": "post_login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostLogin"
              },
              "example": {
                "email": "test@make.cloud",
                "password": "test"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostLogin200"
                },
                "example": {
                  "userId": 1
                }
              }
            }
          }
        }
      }
    },
    "/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Log out",
        "description": "Logs the currently logged-in user out. It does not work with an API token.",
        "operationId": "post_logout",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostLogout200"
                },
                "example": {
                  "ok": 1
                }
              }
            }
          }
        }
      }
    },
    "/sso/authorize": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Authorize URL",
        "description": "experimental",
        "operationId": "post_sso_authorize",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostSsoAuthorize"
              },
              "example": {
                "redirect": "/"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostSsoAuthorize200"
                },
                "example": {
                  "authorizeUrl": "https://sso.example.com/authorize?response_type=code&client_id=mock.make.cloud&redirect_uri=https%3A%2F%2Fmock.make.cloud%2Fsso%2Foauth&state=c72e0f91265beae1cf7f&scope=mock.connect"
                }
              }
            }
          }
        }
      }
    },
    "/sso/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "OAuth login",
        "description": "experimental",
        "operationId": "post_sso_login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostSsoLogin"
              },
              "example": {
                "code": "966d7b84db750a3a297341fff8e33f07cb47b420",
                "state": "c72e0f91265beae1cf7f"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostSsoLogin200"
                },
                "example": {
                  "redirect": "/",
                  "redirectAction": {
                    "action": "CREATE_SCENARIO",
                    "data": {
                      "modules": [
                        "weather:now",
                        "google:sheet"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/teams": {
      "get": {
        "tags": [
          "Admin / Teams"
        ],
        "summary": "List teams",
        "description": "Gets the list of teams in the organization with the specified `organizationId`.",
        "operationId": "get_admin_teams",
        "parameters": [
          {
            "name": "organizationId",
            "in": "query",
            "description": "The ID of the organization.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 22
          },
          {
            "name": "externalId",
            "in": "query",
            "description": "Custom team ID from an external system to the Make White Label platform.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pg[sortBy]",
            "in": "query",
            "description": "The value that will be used to sort returned entities by.",
            "schema": {
              "enum": [
                "name"
              ],
              "type": "string",
              "additionalProperties": false
            }
          },
          {
            "name": "pg[offset]",
            "in": "query",
            "description": "The value of entities you want to skip before getting entities you need.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pg[sortDir]",
            "in": "query",
            "description": "The sorting order. It accepts the ascending and descending direction specifiers.",
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string",
              "additionalProperties": false
            }
          },
          {
            "name": "pg[limit]",
            "in": "query",
            "description": "Sets the maximum number of results per page in the API call response. For example, `pg[limit]=100`. The default number varies with different API endpoints.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdminTeams200"
                },
                "example": {
                  "teams": [
                    {
                      "id": 38,
                      "name": "Management",
                      "organizationId": 22,
                      "scenarioDrafts": false,
                      "deleted": false,
                      "externalId": null
                    },
                    {
                      "id": 36,
                      "name": "Removed team",
                      "organizationId": 20,
                      "scenarioDrafts": false,
                      "deleted": true,
                      "externalId": null
                    }
                  ],
                  "pg": {
                    "sortBy": "name",
                    "limit": 10000,
                    "sortDir": "asc",
                    "offset": 0
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "token": [
              "admin:read",
              "teams:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Admin / Teams"
        ],
        "summary": "Create a team",
        "description": "Creates a new team in the specified organization.\n\nYou can set the team admin with the parameter `userTeamAdmin` in the request body. If you don't use the `userTeamAdmin` parameter and you are part of the organization, then Make sets you as the team admin.",
        "operationId": "post_admin_teams",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostAdminTeams"
              },
              "example": {
                "name": "Marketing team",
                "organizationId": 20,
                "userTeamAdmin": 15
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostAdminTeams200"
                },
                "example": {
                  "team": {
                    "id": 26,
                    "name": "Marketing team",
                    "organizationId": 20
                  },
                  "userTeamRole": {
                    "usersRoleId": 1,
                    "userId": 15,
                    "teamId": 26,
                    "changeable": false,
                    "ssoPending": false
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "token": [
              "admin:write",
              "teams:write"
            ]
          }
        ]
      }
    },
    "/admin/teams/{teamId}": {
      "patch": {
        "tags": [
          "Admin / Teams"
        ],
        "summary": "Update team",
        "description": "Updates team information. Make updates only the values in the request body.",
        "operationId": "patch_admin_teams_teamId",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The ID of the team.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 56
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchAdminTeamsTeamId"
              },
              "example": {
                "name": "Sales people team"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchAdminTeamsTeamId200"
                },
                "example": {
                  "id": 56,
                  "name": "Sales people team",
                  "organizationId": 22,
                  "scenarioDrafts": false,
                  "deleted": false,
                  "externalId": null
                }
              }
            }
          }
        },
        "security": [
          {
            "token": [
              "admin:write",
              "teams:write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Admin / Teams"
        ],
        "summary": "Delete a team",
        "description": "\"Deletes the team with the specified `teamId`. Make removes all users from the deleted team and deletes all data associated with the team, such as data stores and scenarios.\n\nThe team won't be visible for the users. However, if you run the API call `GET /admin/teams` the response will contain also the deleted team with the `deleted: true` pair. Similarly, the team will remain visible in the Administration UI.\"",
        "operationId": "delete_admin_teams_teamId",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "description": "The ID of the team.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 22
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAdminTeamsTeamId200"
                },
                "example": {
                  "team": 22
                }
              }
            }
          }
        },
        "security": [
          {
            "token": [
              "admin:write",
              "teams:write"
            ]
          }
        ]
      }
    },
    "/admin/organizations": {
      "get": {
        "tags": [
          "Admin / Organizations"
        ],
        "summary": "List organizations",
        "description": "Gets the list of all organizations in the Make White Label product instance. The response contains all available information about all organizations in the Make White Label product instance.\n\nUse the `id`, `name` or `externalId` query parameters to limit the results to a specific organization or the `cols[]` parameter to get specific columns.",
        "operationId": "get_admin_organizations",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the organization.",
            "schema": {
              "type": "integer"
            },
            "examples": {
              "filter-data": {
                "value": 5
              }
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "The name of the organization.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "externalId",
            "in": "query",
            "description": "Custom organization ID from a different system than Make White Label.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cols",
            "in": "query",
            "description": "Specifies columns that are returned in the response. Use the `cols[]` parameter for every column that you want to return in the response. For example `GET /endpoint?cols[]=key1&cols[]=key2` to get both `key1` and `key2` columns in the response.\n\n[Check the \"Filtering\" section for a full example.](/api-documentation/pagination-sorting-filtering/filtering)\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "examples": {
              "filter-data": {
                "value": [
                  "id",
                  "name",
                  "license"
                ]
              }
            }
          },
          {
            "name": "pg[sortBy]",
            "in": "query",
            "description": "The value that will be used to sort returned entities by.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pg[offset]",
            "in": "query",
            "description": "The value of entities you want to skip before getting entities you need.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pg[sortDir]",
            "in": "query",
            "description": "The sorting order. It accepts the ascending and descending direction specifiers.",
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string",
              "additionalProperties": false
            }
          },
          {
            "name": "pg[limit]",
            "in": "query",
            "description": "Sets the maximum number of results per page in the API call response. For example, `pg[limit]=100`. The default number varies with different API endpoints.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdminOrganizations200"
                },
                "examples": {
                  "default-cols": {
                    "summary": "All data",
                    "description": "Get all available data about all organizations in the Make White Label instance.",
                    "value": {
                      "organizations": [
                        {
                          "id": 7,
                          "name": "API example",
                          "timezoneId": 318,
                          "countryId": 202,
                          "license": {
                            "dslimit": 40,
                            "executionTime": 45,
                            "fslimit": 1048576000,
                            "iolimit": 10000,
                            "dsslimit": 524288000,
                            "interval": 1,
                            "transfer": 1099511627776,
                            "operations": 800000000,
                            "gracePeriod": 0,
                            "customVariables": true,
                            "productManagement": "salesforce",
                            "scenarioInputs": true,
                            "restartPeriod": "1 month"
                          },
                          "serviceName": "default",
                          "teams": [
                            {
                              "id": 6,
                              "name": "My Team",
                              "externalId": null
                            }
                          ],
                          "isPaused": false,
                          "zone": "white.label.example.com",
                          "externalId": null,
                          "scenarios": 2,
                          "activeScenarios": 0,
                          "deleted": false,
                          "tfaEnforced": false
                        },
                        {
                          "id": 5,
                          "name": "new org",
                          "timezoneId": 113,
                          "countryId": 1,
                          "license": {
                            "dslimit": 40,
                            "fslimit": 2147483648,
                            "iolimit": 10000,
                            "apiLimit": 2000,
                            "dsslimit": 524288000,
                            "fulltext": true,
                            "interval": 1,
                            "transfer": 1099511627776,
                            "operations": 800000000,
                            "scenarioIO": true,
                            "executionTime": 45,
                            "restartPeriod": "1 month",
                            "customVariables": true,
                            "creatingTemplates": true,
                            "installPublicApps": true,
                            "gracePeriod": 0,
                            "productManagement": "salesforce"
                          },
                          "serviceName": "default",
                          "teams": [
                            {
                              "id": 4,
                              "name": "My Team",
                              "externalId": null
                            }
                          ],
                          "isPaused": false,
                          "zone": "white.label.example.com",
                          "externalId": null,
                          "scenarios": 0,
                          "activeScenarios": 0,
                          "deleted": true,
                          "tfaEnforced": false
                        }
                      ],
                      "pg": {
                        "sortBy": "id",
                        "limit": 10000,
                        "sortDir": "desc",
                        "offset": 0
                      }
                    }
                  },
                  "filter-data": {
                    "summary": "Filter results",
                    "description": "Get the `id`, `name` and `license` of the specified organization.",
                    "value": {
                      "organizations": [
                        {
                          "id": 5,
                          "name": "new org",
                          "license": {
                            "dslimit": 40,
                            "fslimit": 2147483648,
                            "iolimit": 10000,
                            "apiLimit": 2000,
                            "dsslimit": 524288000,
                            "fulltext": true,
                            "interval": 1,
                            "transfer": 1099511627776,
                            "operations": 800000000,
                            "scenarioIO": true,
                            "executionTime": 45,
                            "restartPeriod": "1 month",
                            "customVariables": true,
                            "creatingTemplates": true,
                            "installPublicApps": true,
                            "scenarioInputs": true,
                            "productManagement": "salesforce",
                            "gracePeriod": 0
                          }
                        }
                      ],
                      "pg": {
                        "sortBy": "id",
                        "limit": 10000,
                        "sortDir": "desc",
                        "offset": 0
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "token": [
              "admin:read",
              "organizations:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Admin / Organizations"
        ],
        "summary": "Create an organization",
        "description": "\"Create a new organization in the Make White Label instance. You can set the organization admin, timezone, country and features with the `countryId`, `timezoneId`, `userOrgAdmin` and `license` parameters in the request body.\n\nIf you don't use the `countryId` and `timezoneId` parameters Make uses your account values to set the organization timezone and country.\n\nIf you don't use the `userOrgAdmin` parameter you are set as the organization admin.\n\nThe `license` object sets the features and limits for the users in the organization. The following table lists all license parameters and their maximum, minimum, or available values for enumerated parameters. If you don't use the `license` parameter Make sets the organization's license to the default values for your Make White Label instance. You can check the default license of your Make White Label instance with the [get default license](https://www.make.com/en/api-documentation/admin-system-settings-default-license-get) endpoint.\n <!-- license input anchor begin -->\n<div itemscope itemtype=\\\"https://schema.org/FAQPage\\\"> <div class=\\\"card table\\\"> <table class=\\\"table\\\"> <thead> <tr> <th><strong class=\\\"text-nowrap\\\">Parameter</strong></th> <th><strong>Description and values</strong></th> </tr> </thead> <tbody> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>restartPeriod</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>The period of time after which Make resets an organization's centicredits, operations, and data transfer.</p> <p><strong>Type:</strong> enum&lt;string&gt;</p> <p><strong>Values:</strong></p> <ul> <li>1 month</li> <li>1 year</li> </ul> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>operations</code> <span class=\\\"required\\\">REQUIRED</span> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>The number of operations that are available to scenarios in the organization. Operations reset after the restart period.</p> <p><strong>Type:</strong> uinteger</p> <p><strong>Values:</strong></p> <ul> <li><strong>min:</strong> 0</li> <li><strong>max:</strong> 800000000</li> </ul> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>transfer</code> <span class=\\\"required\\\">REQUIRED</span> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>The maximum amount of data transfer in bytes available to scenarios in the organization. Transfer resets after the restart period.</p> <p><strong>Type:</strong> uinteger</p> <p><strong>Values:</strong></p> <ul> <li><strong>min:</strong> 104857600</li> <li><strong>max:</strong> 1099511627776</li> </ul> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>dslimit</code> <span class=\\\"required\\\">REQUIRED</span> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>The maximum number of data stores in the organization.</p> <p><strong>Type:</strong> uinteger</p> <p><strong>Values:</strong></p> <ul> <li><strong>min:</strong> 1</li> <li><strong>max:</strong> 1000</li> </ul> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>dsslimit</code> <span class=\\\"required\\\">REQUIRED</span> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>The maximum storage in bytes available across all data stores in the organization.</p> <p><strong>Type:</strong> uinteger</p> <p><strong>Values:</strong></p> <ul> <li><strong>min:</strong> 1</li> <li><strong>max:</strong> 2306867200</li> </ul> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>interval</code> <span class=\\\"required\\\">REQUIRED</span> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>The minimum interval between two scheduled scenario executions in minutes. The interval setting is ignored when the scenario scheduling is set to \\\"immediately\\\".</p> <p><strong>Type:</strong> uinteger</p> <p><strong>Values:</strong></p> <ul> <li><strong>min:</strong> 1</li> <li><strong>max:</strong> 15</li> </ul> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>teams</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>The maximum number of teams in the organization. Unlimited if not specified.</p> <p><strong>Type:</strong> uinteger</p> <p><strong>Values:</strong></p> <ul> <li><strong>min:</strong> 1</li> <li><strong>max:</strong> 1000</li> </ul> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>retention</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>The number of days to store internal logs (<code>activity stream</code>, <code>userdata fulltext</code>, <code>userdata</code>, <code>debugdata</code>) for the organization. <br> The <code>retention</code> parameter limits for example the scenario execution detail storage duration. Scenario executions older than the <code>retention</code> period have only information about the scenario execution start and status.</p> <p><strong>Type:</strong> enum&lt;uinteger&gt;</p> <p><strong>Values:</strong></p> <ul> <li>7</li> <li>30</li> <li>60</li> <li><strong>default:</strong> 60</li> </ul> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>premiumApps</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>Users in the organization have access to premium apps that have the same or lower premium tier as the value of the <code>premiumApps</code> parameter. <br> To check the installed apps premium tier: <br> 1. List all installed apps with the API call <code>GET /admin/apps</code> to get the app names in the <code>name</code> field. <br> 2. Run the API call <code>GET /admin/apps/{appName}</code>. Check the field <code>premiumTier</code> for the premium tier of the app.</p> <p><strong>Type:</strong> uinteger</p> <p><strong>Values:</strong></p> <ul> <li><strong>min:</strong> 1</li> <li><strong>max:</strong> 10</li> </ul> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>priority</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>Sets the scenario execution priority of the scenarios in the organization. <br> Make executes scenarios from an execution queue. If there are scenarios scheduled to run at the same time, Make orders them for execution according to their priority.</p> <p><strong>Type:</strong> enum&lt;string&gt;</p> <p><strong>Values:</strong></p> <ul> <li>low</li> <li>medium</li> <li>high</li> </ul> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>allowOverage</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>Sets the percentage by which scenarios can exceed the number of available centicredits, operations, and data transfer. <br> For example, if the organization has the <code>operations</code> limit 1000 and the <code>allowOverage</code> parameter set to 120, the scenarios in the organization can use up to 1200 operations before Make stops and inactivates them.</p> <p><strong>Type:</strong> uinteger</p> <p><strong>Values:</strong></p> <ul> <li><strong>min:</strong> 100</li> <li><strong>max:</strong> 200</li> </ul> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>apiLimit</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>Sets a limit to the number of API calls per minute to work with the data contained in the organization. If a user is part of multiple organizations, Make limits API calls to each organization according to the organization's <code>apiLimit</code>. <br> <br> <div class=\\\"alert alert-warning\\\">If you don't specify the <code>apiLimit</code>, Make sets the <code>apiLimit</code> to 0, which disables access to the data in the organization with the API.</div></p> <p><strong>Type:</strong> uinteger</p> <p><strong>Values:</strong></p> <ul> <li><strong>min:</strong> 0</li> <li><strong>max:</strong> 2000</li> </ul> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>fulltext</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>Allows full text search in the scenario execution history to the users in the organization.</p> <p><strong>Type:</strong> boolean</p> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>dedicatedSso</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>Allows logging in to the White Label platform with a custom single sign-on solution.</p> <p><strong>Type:</strong> boolean</p> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>installPublicApps</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>Allows installation of apps that were created by user that is not part of the organization.</p> <p><strong>Type:</strong> boolean</p> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>creatingTemplates</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>Allows the users to create scenario templates.</p> <p><strong>Type:</strong> boolean</p> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>scenarios</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>Sets the maximum number of active scenarios in the organization. The number is unlimited if not specified.</p> <p><strong>Type:</strong> uinteger</p> <p><strong>Values:</strong></p> <ul> <li><strong>min:</strong> 1</li> <li><strong>max:</strong> 1000000</li> </ul> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>dlqStorage</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>Sets the maximum storage in bytes for the scenario incomplete executions.</p> <p><strong>Type:</strong> uinteger</p> <p><strong>Values:</strong></p> <ul> <li><strong>min:</strong> 1</li> <li><strong>max:</strong> 2097152000</li> </ul> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>executionTime</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>The maximum duration of a scenario execution in minutes.</p> <p><strong>Type:</strong> uinteger</p> <p><strong>Values:</strong></p> <ul> <li><strong>min:</strong> 5</li> <li><strong>max:</strong> 45</li> </ul> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>customVariables</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>Allows using the <a href=\\\"https://www.make.com/en/help/functions/variables#custom-variables-1529751\\\">custom variables</a> feature.</p> <p><strong>Type:</strong> boolean</p> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>customFunctions</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>Allows using the <a href=\\\"https://www.make.com/en/help/functions/custom-functions\\\">custom functions</a> feature.</p> <p><strong>Type:</strong> boolean</p> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>fslimit</code> <span class=\\\"required\\\">REQUIRED</span> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>Maximum individual file size in bytes that a scenario in the organization can transfer.</p> <p><strong>Type:</strong> uinteger</p> <p><strong>Values:</strong></p> <ul> <li><strong>min:</strong> 5242880</li> <li><strong>max:</strong> 1048576000</li> </ul> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>productManagement</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>Defines the subscription management method. Organizations in the Make White Label platform must have this parameter set to \\\"salesforce\\\". You cannot change the value of this parameter.</p> <p><strong>Type:</strong> enum&lt;string&gt;</p> <p><strong>Values:</strong></p> <ul> <li>salesforce</li> </ul> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>iolimit</code> <span class=\\\"required\\\">REQUIRED</span> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>Sets the maximum size of input and output webhook queues.</p> <p><strong>Type:</strong> uinteger</p> <p><strong>Values:</strong></p> <ul> <li><strong>min:</strong> 10</li> <li><strong>max:</strong> 10000</li> </ul> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>gracePeriod</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>Sets a time limit in days during which the organization has access to all of its features without payment. Organizations in the Make White Label platform must have this parameter set to 0. You cannot change the value of this parameter.</p> <p><strong>Type:</strong> uinteger</p> <p><strong>Values:</strong></p> <ul> <li>0</li> </ul> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>appslimit</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>Sets the maximum number of apps used by all active scenarios in the organization. Unlimited if not specified.</p> <p><strong>Type:</strong> uinteger</p> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>onDemandScheduling</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>Allows <a href=\\\"https://www.make.com/en/help/scenarios/scheduling-a-scenario#on-demand-scheduling-935240\\\">scenario On-Demand scheduling</a>.</p> <p><strong>Type:</strong> boolean</p> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>scenarioIO</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>Allows the <a href=\\\"https://www.make.com/en/help/scenarios/scenario-inputs\\\">scenario inputs</a> feature for the scenarios in the organization.</p> <p><strong>Type:</strong> boolean</p> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>customProperties</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>Enables the <a href=\\\"https://www.make.com/en/help/scenarios/custom-scenario-properties\\\">custom properties</a> feature. With custom properties, your users can add custom metadata to scenarios and use them to sort and filter their scenarios. <br/> The specified number sets the maximum number of structure items in a custom property structure.</p> <p><strong>Type:</strong> uinteger</p> <p><strong>Values:</strong></p> <ul> <li><strong>default:</strong> 100</li> </ul> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>auditLogsDays</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>Set the parameter to a non-zero number to enable the <a href=\\\"https://www.make.com/en/help/access-management/audit-logs\\\">audit logs</a> feature. With audit logs, you can track and review user actions in Make. In addition, users with the \\\"Owner,\\\" \\\"Admin\\\" and \\\"Team Admin\\\" roles can view audit logs in Make.<br/> The specified number is the amount of days for which Make stores the audit log entries. <br/> The default value 0 disables the feature.</p> <p><strong>Type:</strong> uinteger</p> <p><strong>Values:</strong></p> <ul> <li><strong>default:</strong> 0</li> </ul> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>webhookLogRetentionDays</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>Sets the number of days for which Make keeps webhook logs.</p> <p><strong>Type:</strong> uinteger</p> <p><strong>Values:</strong></p> <ul> <li><strong>default:</strong> 3</li> <li><strong>min:</strong> 3</li> <li><strong>max:</strong> 30</li> </ul> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>dynamicDependencies</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>Enables dynamic dependencies in a scenario. Dynamic dependencies allow users to map Make entities, like connections or data stores, in their scenarios.<br/> For example, <a href=\\\"https://www.make.com/en/help/connections/dynamic-connections\\\">dynamic connections</a> are dynamic dependencies.</p> <p><strong>Type:</strong> boolean</p> <p><strong>Values:</strong></p> <ul> <li><strong>default:</strong> false</li> </ul> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>dynamicConnections</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>Enables <a href=\\\"https://www.make.com/en/help/connections/dynamic-connections\\\">dynamic connections</a> in a scenario. To allow using dynamic connections, you have to enable dynamic dependencies as well.</p> <p><strong>Type:</strong> boolean</p> <p><strong>Values:</strong></p> <ul> <li><strong>default:</strong> false</li> </ul> </td> </tr> <tr itemscope itemprop=\\\"mainEntity\\\" itemtype=\\\"https://schema.org/Question\\\"> <td> <p itemprop=\\\"name\\\"> <code>scenarioRelationTree</code> </p> </td> <td itemscope itemprop=\\\"acceptedAnswer\\\" itemtype=\\\"https://schema.org/Answer\\\"> <div itemprop=\\\"text\\\"> <p>Enables the <strong>Relation tree</strong> tab in the scenario detail and controls the display of the scenario relation information in the list of scenarios and scenario history.<br/> If the parameter is disabled, users cannot see any scenario relation information.<br/> Read more about <a href=\\\"https://www.make.com/en/help/scenarios/subscenarios\\\">subscenarios</a>.</p> <p><strong>Type:</strong> boolean</p> <p><strong>Values:</strong></p> <ul> <li><strong>default:</strong> false</li> </ul> </td> </tr> </tbody> </table> </div>\n<!-- license input anchor end -->\n\"",
        "operationId": "post_admin_organizations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostAdminOrganizations"
              },
              "examples": {
                "useDefaults": {
                  "summary": "Use defaults",
                  "description": "Create a new organization. You have to specify only the name of the organization. The rest is set to default values.\n\nOrganizations timezone and country are set the same as your account timezone and country. You are set as the organization admin. The organization license is set from the default license parameters.",
                  "value": {
                    "name": "Default organization"
                  }
                },
                "specifyManually": {
                  "summary": "Set manually",
                  "description": "Fill all available parameters with custom values.",
                  "value": {
                    "name": "Custom organization",
                    "timezoneId": 76,
                    "countryId": 105,
                    "userOrganizationAdmin": 5,
                    "license": {
                      "dslimit": 40,
                      "fslimit": 1048576000,
                      "iolimit": 1000,
                      "dsslimit": 230686720,
                      "interval": 4,
                      "transfer": 104857600,
                      "scenarios": 4,
                      "operations": 50000000,
                      "customVariables": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostAdminOrganizations200"
                },
                "examples": {
                  "useDefaults": {
                    "value": {
                      "organization": {
                        "name": "Default organization",
                        "timezoneId": 113,
                        "countryId": 42,
                        "license": {
                          "dslimit": 50,
                          "fslimit": 1048576000,
                          "iolimit": 10000,
                          "dsslimit": 230686720,
                          "interval": 1,
                          "transfer": 104857600,
                          "scenarios": 4,
                          "operations": 800000000,
                          "gracePeriod": 0,
                          "customVariables": false,
                          "productManagement": "salesforce"
                        },
                        "serviceName": "default",
                        "teams": [
                          {
                            "id": null,
                            "name": "My team"
                          }
                        ],
                        "isPaused": false,
                        "zone": "white.label.zone.com",
                        "externalId": null,
                        "scenarios": 0,
                        "activeScenarios": 0,
                        "deleted": false
                      },
                      "userOrganizationRole": {
                        "userId": 4,
                        "organizationId": 22,
                        "userRoleId": 11,
                        "invitation": null,
                        "ssoPending": false
                      }
                    }
                  },
                  "specifyManually": {
                    "value": {
                      "organization": {
                        "name": "Custom organization",
                        "timezoneId": 76,
                        "countryId": 105,
                        "userOrganizationAdmin": 5,
                        "license": {
                          "dslimit": 40,
                          "fslimit": 1048576000,
                          "iolimit": 1000,
                          "dsslimit": 230686720,
                          "interval": 4,
                          "transfer": 104857600,
                          "scenarios": 4,
                          "operations": 50000000,
                          "gracePeriod": 0,
                          "customVariables": true,
                          "productManagement": "salesforce"
                        },
                        "serviceName": "default",
                        "teams": [
                          {
                            "id": null,
                            "name": "My team"
                          }
                        ],
                        "isPaused": false,
                        "zone": "white.label.zone.com",
                        "externalId": null,
                        "scenarios": 0,
                        "activeScenarios": 0,
                        "deleted": false,
                        "tfaEnforced": false
                      },
                      "userOrganizationRole": {
                        "userId": 5,
                        "organizationId": 22,
                        "userRoleId": 11,
                        "invitation": null,
                        "ssoPending": false
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "token": [
              "admin:write",
              "organizations:write"
            ]
          }
        ]
      }
    },
    "/admin/organizations/{organizationId}": {
      "patch": {
        "tags": [
          "Admin / Organizations"
        ],
        "summary": "Update organization",
        "description": "Updates the specified organization. Updates only parameters specified in the request body. Check the [API call to create organizations](https://www.make.com/en/api-documentation/admin-organizations-post) for a full breakdown of the organization license parameters.\n\n<div class=\"alert alert-warning\">When updating organization's license, Make replaces the old organization's license with the new one. You have to send a valid <code>license</code> object with all the license parameters you want to set for the organization.</div>\n\nYou can set the next reset of the organization's consumption with the `nextReset` parameter. \n\nUse the `performReset` parameter to reset the organization's consumption with the API call. You can set the next reset with the `nextReset` parameter, or Make sets the next reset according to the organization's `resetPeriod`.",
        "operationId": "patch_admin_organizations_organizationId",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 10
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchAdminOrganizationsOrganizationId"
              },
              "examples": {
                "update-org": {
                  "summary": "Update organization",
                  "description": "Updates the organization's `name`, timezone, country and `license`.",
                  "value": {
                    "name": "Updated organization",
                    "timezoneId": 113,
                    "countryId": 1,
                    "license": {
                      "dslimit": 20,
                      "fslimit": 6242880,
                      "iolimit": 10000,
                      "apiLimit": 2000,
                      "dsslimit": 524288000,
                      "fulltext": true,
                      "interval": 1,
                      "transfer": 105000000,
                      "operations": 100000,
                      "executionTime": 45,
                      "restartPeriod": "1 month",
                      "customVariables": true,
                      "creatingTemplates": true,
                      "installPublicApps": true
                    }
                  }
                },
                "update-reset": {
                  "summary": "Reset organization's consumption",
                  "description": "Resets the organization's consumption immediately and sets the next reset to 04. 07. 2023 12:00.",
                  "value": {
                    "performReset": true,
                    "nextReset": "2024-07-04T12:00:00.000Z"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchAdminOrganizationsOrganizationId200"
                },
                "examples": {
                  "update-org": {
                    "value": {
                      "organization": {
                        "id": 10,
                        "name": "Updated organization",
                        "timezoneId": 113,
                        "countryId": 1,
                        "lastReset": "2023-06-05T12:00:00.000Z",
                        "nextReset": "2023-07-05T12:00:00.000Z",
                        "license": {
                          "dslimit": 20,
                          "fslimit": 6242880,
                          "iolimit": 10000,
                          "apiLimit": 2000,
                          "dsslimit": 524288000,
                          "fulltext": true,
                          "interval": 1,
                          "transfer": 105000000,
                          "operations": 100000,
                          "executionTime": 45,
                          "restartPeriod": "1 month",
                          "customVariables": true,
                          "creatingTemplates": true,
                          "installPublicApps": true,
                          "gracePeriod": 0,
                          "productManagement": "salesforce"
                        },
                        "serviceName": "default",
                        "teams": [
                          {
                            "id": 155364,
                            "name": "My team"
                          }
                        ],
                        "isPaused": false,
                        "zone": "white.label.example.com",
                        "externalId": null,
                        "scenarios": 0,
                        "activeScenarios": 0,
                        "deleted": false,
                        "tfaEnforced": false
                      }
                    }
                  },
                  "update-reset": {
                    "value": {
                      "organization": {
                        "id": 12,
                        "name": "Reset organization",
                        "timezoneId": 113,
                        "countryId": 1,
                        "lastReset": "2023-06-04T12:00:00.000Z",
                        "nextReset": "2023-07-04T12:00:00.000Z",
                        "license": {
                          "dslimit": 20,
                          "fslimit": 6242880,
                          "iolimit": 10000,
                          "apiLimit": 2000,
                          "dsslimit": 524288000,
                          "fulltext": true,
                          "interval": 1,
                          "transfer": 105000000,
                          "operations": 100000,
                          "executionTime": 45,
                          "restartPeriod": "1 month",
                          "customVariables": true,
                          "creatingTemplates": true,
                          "installPublicApps": true,
                          "gracePeriod": 0,
                          "productManagement": "salesforce"
                        },
                        "serviceName": "default",
                        "teams": [
                          {
                            "id": 155468,
                            "name": "My team"
                          }
                        ],
                        "isPaused": false,
                        "zone": "white.label.example.com",
                        "externalId": null,
                        "scenarios": 0,
                        "activeScenarios": 0,
                        "deleted": false,
                        "tfaEnforced": false
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "token": [
              "admin:write",
              "organizations:write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Admin / Organizations"
        ],
        "summary": "Delete an organization",
        "description": "Deletes the specified organization. All data associated with the organization and with the teams in the organization, such as data stores and scenarios, are also deleted.",
        "operationId": "delete_admin_organizations_organizationId",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAdminOrganizationsOrganizationId200"
                },
                "example": {
                  "organization": 10
                }
              }
            }
          }
        },
        "security": [
          {
            "token": [
              "admin:write",
              "organizations:write"
            ]
          }
        ]
      }
    },
    "/admin/organizations/{organizationId}/billing-audit-logs": {
      "get": {
        "tags": [
          "Admin / Organizations"
        ],
        "summary": "Get billing audit logs",
        "description": "Get list of billing audit logs for given organization.",
        "operationId": "get_admin_organizations_organizationId_billing_audit_logs",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 10
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of the audit event. Partial match.",
            "schema": {
              "type": "string"
            },
            "example": "subscription.change."
          },
          {
            "name": "source",
            "in": "query",
            "description": "Source of the audit event. One of 'user', 'admin' or 'auto'.",
            "schema": {
              "type": "string"
            },
            "example": "admin"
          },
          {
            "name": "pg[sortBy]",
            "in": "query",
            "description": "The value that will be used to sort returned entities by.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pg[offset]",
            "in": "query",
            "description": "The value of entities you want to skip before getting entities you need.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pg[sortDir]",
            "in": "query",
            "description": "The sorting order. It accepts the ascending and descending direction specifiers.",
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string",
              "additionalProperties": false
            }
          },
          {
            "name": "pg[limit]",
            "in": "query",
            "description": "Sets the maximum number of results per page in the API call response. For example, `pg[limit]=100`. The default number varies with different API endpoints.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdminOrganizationsOrganizationIdBillingAuditLogs200"
                },
                "examples": {
                  "default": {
                    "summary": "All data",
                    "description": "Get billing audit logs for given organization.",
                    "value": {
                      "billingLogs": [
                        {
                          "id": "123",
                          "type": "subscription.change.initiated",
                          "source": "user",
                          "authorId": 202,
                          "authorEmail": "user@user.com",
                          "createdAt": "2023-01-03T11:12:40.644Z",
                          "metadata": {
                            "couponCode": "foobar",
                            "priceId": 30
                          }
                        },
                        {
                          "id": "124",
                          "type": "subscription.change.succeeded",
                          "source": "auto",
                          "authorId": null,
                          "authorEmail": null,
                          "createdAt": "2023-01-03T11:13:40.644Z",
                          "metadata": {
                            "couponCode": "foobar",
                            "priceId": 30
                          }
                        }
                      ],
                      "pg": {
                        "sortBy": "id",
                        "limit": 10000,
                        "sortDir": "desc",
                        "offset": 0
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "token": [
              "admin:read",
              "organizations:read"
            ]
          }
        ]
      }
    },
    "/admin/organizations/{organizationId}/universal-discount-options": {
      "get": {
        "tags": [
          "Admin / Organizations"
        ],
        "summary": "Get universal discount options",
        "description": "Retrieves available universal discount options for the organization.",
        "operationId": "get_admin_organizations_organizationId_universal_discount_options",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization.",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer"
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdminOrganizationsOrganizationIdUniversalDiscountOptions200"
                },
                "example": {
                  "options": [
                    {
                      "label": "GRANDFATHERED_PRICE",
                      "value": "GRANDFATHERED_PRICE",
                      "forceActivateImmediately": false,
                      "defaultBannerText": null,
                      "defaultPercentOff": null
                    },
                    {
                      "label": "SOME_OTHER_DISCOUNT",
                      "value": "SOME_OTHER_DISCOUNT",
                      "forceActivateImmediately": true,
                      "defaultBannerText": "Special discount offer!",
                      "defaultPercentOff": 20
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "token": [
              "admin:read",
              "organizations:read"
            ]
          }
        ]
      }
    },
    "/admin/organizations/{organizationId}/assign-universal-discount": {
      "post": {
        "tags": [
          "Admin / Organizations"
        ],
        "summary": "Assign universal discount",
        "description": "Assigns a universal discount to the organization.",
        "operationId": "post_admin_organizations_organizationId_assign_universal_discount",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization.",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer"
            },
            "example": 10
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostAdminOrganizationsOrganizationIdAssignUniversalDiscount"
              },
              "example": {
                "discountType": "SOME_DISCOUNT_TYPE",
                "percentOff": 23,
                "activateImmediately": false,
                "redeemUntil": "2024-12-31",
                "durationInMonths": 12,
                "bannerText": "Special offer just for you!"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response from the cashier service"
                },
                "example": {
                  "ok": 1
                }
              }
            }
          }
        },
        "security": [
          {
            "token": [
              "admin:write",
              "organizations:write"
            ]
          }
        ]
      }
    },
    "/admin/organizations/{organizationId}/universal-discount": {
      "delete": {
        "tags": [
          "Admin / Organizations"
        ],
        "summary": "Remove universal discount",
        "description": "Removes the active or dormant universal discount from the organization. Active discounts are terminated and the Stripe coupon is removed. Dormant discounts are expired.",
        "operationId": "delete_admin_organizations_organizationId_universal_discount",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAdminOrganizationsOrganizationIdUniversalDiscount200"
                },
                "example": {
                  "ok": 1
                }
              }
            }
          }
        },
        "security": [
          {
            "token": [
              "admin:write",
              "organizations:write"
            ]
          }
        ]
      }
    },
    "/admin/experiments/organization/{organizationId}": {
      "get": {
        "tags": [
          "Admin / Experiments"
        ],
        "summary": "Get experiments for organization",
        "description": "Returns the active experiments configuration for the specified organization, as provided by the cashier service.",
        "operationId": "get_admin_experiments_organization_organizationId",
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "description": "The ID of the organization.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdminExperimentsOrganizationOrganizationId200"
                },
                "examples": {
                  "default": {
                    "summary": "Organization experiments",
                    "value": {
                      "experiments": {
                        "isMakePlanExperiment": true
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No experiments found for the organization.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdminExperimentsOrganizationOrganizationId404"
                },
                "example": {
                  "message": "Not Found"
                }
              }
            }
          }
        }
      }
    },
    "/admin/install/apps/{app}/logs": {
      "get": {
        "tags": [
          "Admin / Install / Apps / Logs"
        ],
        "summary": "List organizations",
        "description": "Get logs for given app.",
        "operationId": "get_admin_install_apps_app_logs",
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "description": "The application name.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "wordpress"
          },
          {
            "name": "correlationId",
            "in": "query",
            "description": "Filter by Correlation ID.",
            "schema": {
              "type": "string"
            },
            "example": "abcd1234"
          },
          {
            "name": "since",
            "in": "query",
            "description": "Filter logs by date.",
            "schema": {
              "type": "string"
            },
            "example": "10-01-2023"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdminInstallAppsAppLogs200"
                }
              }
            }
          }
        },
        "security": [
          {
            "token": [
              "admin:read",
              "organizations:read"
            ]
          }
        ]
      }
    },
    "/admin/apps/{app}/installation-history": {
      "get": {
        "tags": [
          "Admin / Apps / Installation History"
        ],
        "summary": "List installation history",
        "description": "Returns the recorded installation attempt history for a single native app, ordered by most recent first.\n",
        "operationId": "get_admin_apps_app_installation_history",
        "parameters": [
          {
            "name": "app",
            "in": "path",
            "description": "The native app name.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "agent-ai"
          },
          {
            "name": "pg[limit]",
            "in": "query",
            "description": "Page size (max 1000).",
            "schema": {
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "pg[offset]",
            "in": "query",
            "description": "Number of records to skip.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "pg[sortBy]",
            "in": "query",
            "description": "Field to sort by.",
            "schema": {
              "enum": [
                "createdAt"
              ],
              "type": "string",
              "additionalProperties": false,
              "default": "createdAt"
            }
          },
          {
            "name": "pg[sortDir]",
            "in": "query",
            "description": "Sort direction.",
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string",
              "additionalProperties": false,
              "default": "desc"
            }
          },
          {
            "name": "pg[returnTotalCount]",
            "in": "query",
            "description": "When true, the response pagination block contains the total record count. This option is supported only for session (cookie) authentication. Token-authenticated requests that send `pg[returnTotalCount]=true` are rejected with HTTP 400.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdminAppsAppInstallationHistory200"
                }
              }
            }
          },
          "400": {
            "description": "Invalid pagination parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdminAppsAppInstallationHistory400"
                },
                "example": {
                  "code": "SC400",
                  "message": "Invalid input parameters",
                  "detail": [
                    "Validation failed for 1 parameter(s).",
                    "Parameter `pg[returnTotalCount]` is supported only for session authentication."
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "token": [
              "admin:read",
              "apps:read"
            ]
          }
        ]
      }
    },
    "/admin/users-detail": {
      "get": {
        "tags": [
          "Admin / Users"
        ],
        "summary": "Get user's detail",
        "description": "Retrieves a collection of all users in your Make White Label instance. Use the API call query parameters to limit the results to a user name or user email.",
        "operationId": "get_admin_users_detail",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Optional filter parameter.",
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "name",
            "in": "query",
            "description": "Optional filter parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "Optional filter parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cols",
            "in": "query",
            "description": "Specifies columns that are returned in the response. Use the `cols[]` parameter for every column that you want to return in the response. For example `GET /endpoint?cols[]=key1&cols[]=key2` to get both `key1` and `key2` columns in the response.\n\n[Check the \"Filtering\" section for a full example.](/api-documentation/pagination-sorting-filtering/filtering)\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "examples": {
              "filtering": {
                "value": [
                  "id",
                  "name",
                  "email"
                ]
              }
            }
          },
          {
            "name": "pg[sortBy]",
            "in": "query",
            "description": "Sort the results in the APi call response by the values in the specified column.",
            "schema": {
              "enum": [
                "name",
                "id",
                "userAdminsRoleId"
              ],
              "type": "string",
              "additionalProperties": false
            }
          },
          {
            "name": "pg[offset]",
            "in": "query",
            "description": "The value of entities you want to skip before getting entities you need.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pg[sortDir]",
            "in": "query",
            "description": "The sorting order. It accepts the ascending and descending direction specifiers.",
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string",
              "additionalProperties": false
            }
          },
          {
            "name": "pg[limit]",
            "in": "query",
            "description": "Sets the maximum number of results per page in the API call response. For example, `pg[limit]=100`. The default number varies with different API endpoints.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdminUsersDetail200"
                },
                "examples": {
                  "default": {
                    "summary": "List users",
                    "description": "Retrieve all available data about all users in the Make White Label instance.",
                    "value": {
                      "users": [
                        {
                          "id": 15,
                          "name": "Rosario",
                          "email": "dawson@test.net",
                          "language": "en",
                          "timezoneId": 113,
                          "localeId": 19,
                          "countryId": 1,
                          "features": { },
                          "avatar": "https://secure.gravatar.com/avatar/bca593a1166cfebb7453226d5a55f4a5.jpg?d=mm",
                          "lastLogin": "2023-01-03T11:24:25.460Z",
                          "organizations": 1,
                          "scenarios": 0,
                          "activeScenarios": 0,
                          "deleted": false,
                          "created": "2023-01-03T11:12:40.644Z",
                          "usersAdminsRoleId": null,
                          "tfaEnabled": false
                        },
                        {
                          "id": 14,
                          "name": "John Doe",
                          "email": "john@doe.com",
                          "language": "en",
                          "timezoneId": 113,
                          "localeId": 19,
                          "countryId": 202,
                          "features": { },
                          "avatar": "https://secure.gravatar.com/avatar/049bebcb7ed96e1539a5ed479ae7158b.jpg?d=mm",
                          "lastLogin": null,
                          "organizations": 0,
                          "scenarios": 0,
                          "activeScenarios": 0,
                          "deleted": false,
                          "created": "2022-12-12T14:24:26.895Z",
                          "usersAdminsRoleId": null,
                          "tfaEnabled": false
                        }
                      ],
                      "pg": {
                        "sortBy": "id",
                        "limit": 10,
                        "sortDir": "desc",
                        "offset": 0
                      }
                    }
                  },
                  "filtering": {
                    "summary": "Filter results",
                    "description": "Filter API call response for specific data.",
                    "value": {
                      "users": [
                        {
                          "id": 14,
                          "name": "John Doe",
                          "email": "john@doe.com"
                        }
                      ],
                      "pg": {
                        "sortBy": "id",
                        "limit": 10,
                        "sortDir": "desc",
                        "offset": 0
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "token": [
              "admin:read",
              "user:read"
            ]
          }
        ]
      }
    },
    "/admin/users": {
      "get": {
        "tags": [
          "Admin / Users"
        ],
        "summary": "List users",
        "description": "Gets the list of users in a team or an organization.",
        "operationId": "get_admin_users",
        "parameters": [
          {
            "name": "organizationId",
            "in": "query",
            "description": "The ID of the organization.",
            "schema": {
              "type": "integer"
            },
            "examples": {
              "filtering": {
                "value": 22
              }
            }
          },
          {
            "name": "teamId",
            "in": "query",
            "description": "The ID of the team.",
            "schema": {
              "type": "integer"
            },
            "examples": {
              "filtering": {
                "value": 11
              }
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "The name of the user.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "filtering": {
                "value": "John Doe"
              }
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "The email of the user.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "filtering": {
                "value": "john@doe.com"
              }
            }
          },
          {
            "name": "teamRoleId",
            "in": "query",
            "description": "The ID of the user's role in the team.",
            "schema": {
              "type": "integer"
            },
            "examples": {
              "filtering": {
                "value": 3
              }
            }
          },
          {
            "name": "organizationRoleId",
            "in": "query",
            "description": "The ID of the user's role in the organization.",
            "schema": {
              "type": "integer"
            },
            "examples": {
              "filtering": {
                "value": 13
              }
            }
          },
          {
            "name": "tfaStatus",
            "in": "query",
            "description": "The user's two-factor authentication (TFA) status. This field is available only on plans that have the TFA enforcement enabled.",
            "schema": {
              "enum": [
                0,
                1,
                2
              ],
              "type": "integer",
              "additionalProperties": false
            },
            "examples": {
              "filtering": {
                "value": 1
              }
            }
          },
          {
            "name": "cols",
            "in": "query",
            "description": "Specifies columns that are returned in the response. Use the `cols[]` parameter for every column that you want to return in the response. For example `GET /endpoint?cols[]=key1&cols[]=key2` to get both `key1` and `key2` columns in the response.\n\n[Check the \"Filtering\" section for a full example.](/api-documentation/pagination-sorting-filtering/filtering)\n",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "examples": {
              "filtering": {
                "value": [
                  "id",
                  "name",
                  "email",
                  "teamRoleId",
                  "organizationRoleId",
                  "tfaStatus"
                ]
              }
            }
          },
          {
            "name": "pg[sortBy]",
            "in": "query",
            "description": "Sort the results in the APi call response by the values in the specified column.",
            "schema": {
              "enum": [
                "name",
                "id",
                "email",
                "userAdminsRoleId"
              ],
              "type": "string",
              "additionalProperties": false
            }
          },
          {
            "name": "pg[offset]",
            "in": "query",
            "description": "The value of entities you want to skip before getting entities you need.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pg[sortDir]",
            "in": "query",
            "description": "The sorting order. It accepts the ascending and descending direction specifiers.",
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string",
              "additionalProperties": false
            }
          },
          {
            "name": "pg[limit]",
            "in": "query",
            "description": "Sets the maximum number of results per page in the API call response. For example, `pg[limit]=100`. The default number varies with different API endpoints.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdminUsers200"
                },
                "examples": {
                  "default": {
                    "summary": "List users",
                    "description": "Retrieves a collection of all users for a team or an organization with a given ID.",
                    "value": {
                      "users": [
                        {
                          "id": 15,
                          "name": "Rosario",
                          "email": "dawson@test.net",
                          "language": "en",
                          "timezoneId": 113,
                          "localeId": 19,
                          "countryId": 1,
                          "features": { },
                          "avatar": "https://secure.gravatar.com/avatar/bca593a1166cfebb7453226d5a55f4a5.jpg?d=mm",
                          "lastLogin": "2023-01-03T11:24:25.460Z",
                          "deleted": false,
                          "created": "2023-01-03T11:12:40.644Z",
                          "usersAdminsRoleId": null,
                          "tfaStatus": 0
                        },
                        {
                          "id": 14,
                          "name": "John Doe",
                          "email": "john@doe.com",
                          "language": "en",
                          "timezoneId": 113,
                          "localeId": 19,
                          "countryId": 202,
                          "features": { },
                          "avatar": "https://secure.gravatar.com/avatar/049bebcb7ed96e1539a5ed479ae7158b.jpg?d=mm",
                          "lastLogin": null,
                          "deleted": false,
                          "created": "2022-12-12T14:24:26.895Z",
                          "usersAdminsRoleId": null,
                          "tfaStatus": 1
                        }
                      ],
                      "pg": {
                        "sortBy": "id",
                        "limit": 10,
                        "sortDir": "desc",
                        "offset": 0
                      }
                    }
                  },
                  "filtering": {
                    "summary": "Filter results",
                    "description": "Filter API call response for specific data.",
                    "value": {
                      "users": [
                        {
                          "id": 14,
                          "name": "John Doe",
                          "email": "john@doe.com"
                        }
                      ],
                      "pg": {
                        "sortBy": "id",
                        "limit": 10,
                        "sortDir": "desc",
                        "offset": 0
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "token": [
              "admin:read",
              "user:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Admin / Users"
        ],
        "summary": "Create a new user",
        "description": "\"Creates a new user. Specify the user's `name` and `email` in the request body.\n\nYou have to either send an invitation mail to the user with the `sendEmail: true` or you have to specify the user password in the `password` field in the request body. If you send the invitation mail, the mail contains automatically generated password. The user has to change their password right after logging in.\n\nYou can also set the user's country, locale and timezone with the request body parameters. If you don't specify the user's country, locale or timezone Make uses your account's country, locale or timezone.\"",
        "operationId": "post_admin_users",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostAdminUsers"
              },
              "examples": {
                "setAll": {
                  "summary": "Create user",
                  "description": "Creates new user with the specified values, including login password.",
                  "value": {
                    "name": "John Doe",
                    "email": "john@doe.com",
                    "sendEmail": false,
                    "timezoneId": 113,
                    "localeId": 18,
                    "countryId": 1,
                    "password": "my-Password1?"
                  }
                },
                "sendEmail": {
                  "summary": "Send invitation email",
                  "description": "Make sends the user an invitation mail with an automatically generated password. Right after logging in the user has to change their password.",
                  "value": {
                    "name": "John Doe",
                    "email": "john@doe.com",
                    "sendEmail": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostAdminUsers200"
                },
                "examples": {
                  "setAll": {
                    "value": {
                      "user": {
                        "id": 5,
                        "name": "John Doe",
                        "email": "john@doe.com",
                        "language": "en",
                        "timezoneId": 113,
                        "localeId": 18,
                        "countryId": 1,
                        "features": { },
                        "avatar": "https://secure.gravatar.com/avatar/b38336ad1642bc8effb596db864be1f1.jpg?d=mm",
                        "lastLogin": null,
                        "organizations": 0,
                        "scenarios": 0,
                        "activeScenarios": 0,
                        "deleted": false,
                        "created": "2023-01-17T12:41:10.697Z",
                        "usersAdminsRoleId": null,
                        "tfaEnabled": false
                      }
                    }
                  },
                  "sendEmail": {
                    "value": {
                      "user": {
                        "id": 5,
                        "name": "John Doe",
                        "email": "john@doe.com",
                        "language": "en",
                        "timezoneId": 53,
                        "localeId": 16,
                        "countryId": 12,
                        "features": { },
                        "avatar": "https://secure.gravatar.com/avatar/b38336ad1642bc8effb596db864be1f1.jpg?d=mm",
                        "lastLogin": null,
                        "organizations": 0,
                        "scenarios": 0,
                        "activeScenarios": 0,
                        "deleted": false,
                        "created": "2023-01-17T12:41:10.697Z",
                        "usersAdminsRoleId": null,
                        "tfaEnabled": false
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "token": [
              "admin:write",
              "user:write"
            ]
          }
        ]
      }
    },
    "/admin/users/{userId}": {
      "patch": {
        "tags": [
          "Admin / Users"
        ],
        "summary": "Update user information",
        "description": "Updates user information. Make updates only the specified information. \n\nIn addition, you can set the user admin roles in the `usersAdminsRoleId`. Check the available roles with the API call `GET /admin/users/admins-roles`. Refer to the [user admin roles documentation](https://www.make.com/en/help/white-label/manage-organizations#instance-level-roles-1628394) for the full breakdown of the user admin roles permissions.",
        "operationId": "patch_admin_users_userId",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The ID of the user.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 22
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchAdminUsersUserId"
              },
              "example": {
                "name": "Jane Porter",
                "email": "jane.portern@jungle.com",
                "usersAdminsRoleId": 4
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchAdminUsersUserId200"
                },
                "example": {
                  "user": {
                    "id": 6,
                    "name": "Jane Porter",
                    "email": "jane.portern@jungle.com",
                    "language": "en",
                    "timezoneId": 113,
                    "localeId": 18,
                    "countryId": 1,
                    "features": { },
                    "avatar": "https://secure.gravatar.com/avatar/b38336ad1642bc8effb596db864be1f1.jpg?d=mm",
                    "lastLogin": null,
                    "organizations": 0,
                    "scenarios": 0,
                    "activeScenarios": 0,
                    "deleted": false,
                    "created": "2023-01-17T12:41:10.697Z",
                    "usersAdminsRoleId": 4,
                    "tfaEnabled": false
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "token": [
              "admin:write",
              "user:write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Admin / Users"
        ],
        "summary": "Delete a user",
        "description": "Deletes the user with the specified `userId`. Use the `deleteConnections` query parameter to delete the user's connections too.",
        "operationId": "delete_admin_users_userId",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The ID of the user.",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "example": 22
          },
          {
            "name": "deleteConnections",
            "in": "query",
            "description": "Set to `true` to delete also user's connections when removing organizations, in which the user has the role \"Owner\". The default value is `false`.",
            "schema": {
              "type": "boolean"
            },
            "example": true
          },
          {
            "name": "confirmed",
            "in": "query",
[...]
